{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/products/status/add.css">


{% endblock %}

{% block body %}
{{super()}}

        <div class="container">
                <div class="header">
                        <h2>Новая должность</h2>
                </div>

                <form id="myForm" class="form">
                        <div class="form-control">
                                <label for="status">Статус</label>
                                <input type="text" name="status" placeholder="Введите статус..." id="status" required/>
                        </div>

                        <div class="form-control">
                                <label for="desc">Описание</label>
                                <input type="text" name="desc" id="desc" placeholder="Введите описание..." required/>
                        </div>


                        <input type="submit" class="add-type-submit" value="Сохранить"/>
                        <input type="button" onclick="otmenFunction()" class="add-type-submit2" value="Отмена"/>
                </form>
        </div>


<script src="/static/js/products/status_info/add.js"></script>

{% endblock %}


