{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/products/status/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <button id="addClick">Добавить</button>
</div>

<div class="table">
    <table>
        <thead>

        <tr>

            <th class="hidden">ИД</th>

            <th>Наменование</th>

            <th>Действие</th>

        </tr>

        </thead>


        <tbody id="tBody">

        {% for i in range(status_info['data']['status_id']|length) %}
        <tr ondblclick="getType(this)">

            <td class="hidden">{{status_info['data']['status_id'][i]}}</td>

            <td>{{status_info['data']['status'][i]}}</td>

            <td>
                <button onclick="deleteType(this)">Удалить</button>
            </td>

        </tr>
        {% endfor %}

        </tbody>

    </table>
</div>
<script src="/static/js/products/status/all.js"></script>

{% endblock %}


