.container-crud {
    position: relative;
}

.container {
    width: 400px;
    position: fixed;
    z-index: 999;
    left: 50%;
    transform: translate(-50%, 25%);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.header {
    border-bottom: 1px solid var(--button-backColor);
    background-color: var(--button-backColor);
    padding: 15px 40px;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.header h2 {
    margin: 0;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    margin-bottom: 0;
}

.form-control input, textarea, select {
    width: 100%;
    border: 2px solid #c3c3c3;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: var(--font-size);
    padding: 10px;
}

.form .add-type-submit, .add-type-submit2 {
    width: 100%;
    background-color: var(--button-backColor);
    border: 2px solid var(--button-backColor);
    border-radius: 4px;
    color: #d5e2ff;
    display: block;
    font-family: inherit;
    font-size: var(--font-size);
    padding: 10px;
    cursor: pointer;
    margin: var(--font-size) 0;
}

