{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/products/firmware/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <a class="back-button" href="{{url_for('employees.account')}}">Назад</a>
    <button id="addClick">Добавить</button>
</div>
<h2 class="header-all">Прошивки</h2>
<div class="table">
    <table>
        <thead>
        <tr>
            <th class="hidden">ИД</th>

            <th>Наименование</th>

            <th>Модель</th>

            <th>Версия</th>

            <th>Ф.И.О сотрудника</th>

            <th>Действие</th>
        </tr>
        </thead>

        <tbody id="tBody">
        {% for i in range(firmwares['data']['fw_id']|length) %}
        <tr ondblclick="getType(this)">

            <td class="hidden">{{firmwares['data']['fw_id'][i]}}</td>

            <td>{{firmwares['data']['name'][i]}}</td>

            <td>{{firmwares['data']['model'][i]}}</td>

            <td>{{firmwares['data']['version'][i]}}</td>

            <td>{{ names_by_ids['data'][firmwares['data']['author_id'][i]] }}</td>

            <td>
                <button onclick="deleteFirm(this)">Удалить</button>
            </td>
        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>

<script src="/static/js/products/firmware/all.js"></script>

{% endblock %}

