{% extends 'base.html' %}

{% block head %}
<title>Изменить данные прощивки</title>
{{super()}}

<link rel="stylesheet" href="/static/css/products/firmware/firmware_base.css">
<link rel="stylesheet" href="/static/css/products/firmware/update.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="container-crud">
    <div class="add-container">

        <div class="add-header">
            <h3>Изменить данные прощивки</h3>
        </div>

        <form action="{{url_for('products.firmware.update', fw_id=fw_info['fw_id'])}}" class="add-form" method="POST">

            <div class="form-control">
                <label for="desc">Описание</label>
                <input type="text" id="desc" name="desc" value="{{fw_info['description']}}">
            </div>

            <input type="submit" class="add-submit" value="Сохранить">

            <input type="button" class="add-submit2" onclick="otmenFunction()" value="Отмена">

        </form>

    </div>
</div>

<script src="/static/js/products/firmware/update.js"></script>

{% endblock %}
