{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/sp_warehouse/add.css">


{% endblock %}

{% block body %}
{{super()}}

<div class="add-container">
    <div class="add-header">
        <h2>Склад запчасти</h2>
    </div>

    <form id="myForm" class="add-form">

        <div class="form-control">
            <label for="type_id">Тип запчасти</label>
            <select name="type_id" id="type_id" required>
                <option hidden value="" selected disabled>--Выбрать--</option>
                {% for i in range(types_ids['data']['sp_type_id']|length)%}
                <option value="{{types_ids['data']['sp_type_id'][i]}}">
                    {{types_ids['data']['name'][i]}}
                </option>
                {%endfor%}
            </select>

            <label for="order_id">Номер заказа</label>
              <input type="text"  name="order_id" id="order_id" required placeholder="Введите номер заказа">

            <label for="status_id">Статус</label>
            <select name="status_id" id="status_id" required>
                <option hidden value="" selected disabled>--Выбрать--</option>
                {% for i in range(statuses_ids['data']['status_id']|length)%}
                <option value="{{statuses_ids['data']['status_id'][i]}}">
                    {{statuses_ids['data']['status'][i]}}
                </option>
                {%endfor%}
            </select>
        </div>

        <div class="form-control">
            <label for="acc_emp_id">Принял(а)</label>
            <select name="acc_emp_id" id="acc_emp_id" required>
                <option hidden value="" selected disabled>--Выбрать--</option>
                {% for i in range(employees_ids['data']['emp_id']|length)%}
                <option value="{{employees_ids['data']['emp_id'][i]}}">
                    {{employees_ids['data']['last_name'][i]}}
                    {{employees_ids['data']['first_name'][i]}}
                    {{employees_ids['data']['middle_name'][i]}}
                </option>
                {%endfor%}
            </select>

            <label for="used_emp_id">Использовал(а)</label>
            <select name="used_emp_id" id="used_emp_id" required>
                <option hidden value="" selected disabled>--Выбрать--</option>
                {% for i in range(employees_ids['data']['emp_id']|length)%}
                <option value="{{employees_ids['data']['emp_id'][i]}}">
                    {{employees_ids['data']['last_name'][i]}}
                    {{employees_ids['data']['first_name'][i]}}
                    {{employees_ids['data']['middle_name'][i]}}
                </option>
                {%endfor%}
            </select>

            <label for="pr_serial_num">Серийный номер продукта</label>
            <input type="text" name="pr_serial_num" id="pr_serial_num" required placeholder="Введите серийный номер продукта" />

        </div>


        <input type="submit" class="add-submit" value="Сохранить" />

        <input onclick="otmenFunction()" type="button" class="add-submit2" value="Отмена" />

    </form>
</div>



<script src="/static/js/sp_warehouse/add.js"></script>

{% endblock %}