{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/sp_warehouse/all.css">

{% endblock %}

{% block body %}
{{super()}}

<button class="otmen-btn" onclick="otmenFunction()">Назад</button>
<button class="add-button" id="addClick">Добавить</button>

<table class="table">
    <thead>

    <tr>

        <th class="hidden">Номер должности</th>

        <th>№</th>

        <th>Тип</th>

        <th>Порядок</th>

        <th>Статус</th>

        <th>Принял(а)</th>

        <th>Серийный номер продукта</th>

        <th>Действия</th>

    </tr>

    </thead>


    <tbody id="tBody">

    {% for i in range(sp_warehouses['data']['sp_id']|length) %}
    <tr ondblclick="getType(this)">

        <td class="hidden">{{sp_warehouses['data']['sp_id'][i]}}</td>

        <td>{{i+1}}</td>

        <td>{{types_ids['data'][sp_warehouses['data']['type_id'][i]]}}</td>

        <td>{{orders_ids['data'][sp_warehouses['data']['order_id'][i]]}}</td>

        <td>{{statuses_ids['data'][sp_warehouses['data']['status_id'][i]]}}</td>

        <td>{{employees_ids['data'][sp_warehouses['data']['acc_emp_id'][i]]}}</td>

        <td>{{products_ids['data'][sp_warehouses['data']['pr_serial_num'][i]]}}</td>

        <td>
            <button onclick="deleteType(this)">Удалить</button>
        </td>

    </tr>
    {% endfor %}

    </tbody>

</table>


<script src="/static/js/sp_warehouse/all.js"></script>

{% endblock %}


