{% extends 'base.html' %}

{% block head %}
<title>Все запчасти</title>
{{super()}}

<link rel="stylesheet" href="/static/css/sp_warehouse/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <a class="back-button" href="{{url_for('employees.account')}}">Назад</a>
    <button id="addClick">Добавить</button>
</div>
<h2 class="header-all">Все запчасти</h2>
<div class="table">
    <table>
        <thead>

        <tr>

            <th>Номер запчасти</th>

            <th>Тип запчасти</th>

            <th>Номер заказа</th>

            <th>Состояние</th>

            <th>Принял(а)</th>

            <th>Серийный номер продукта</th>

            <th>Действие</th>

        </tr>

        </thead>


        <tbody id="tBody">

        {% for i in range(sp_warehouses['data']['sp_id']|length) %}
        <tr ondblclick="getType(this)">

            <td>{{sp_warehouses['data']['sp_id'][i]}}</td>

            <td>{{types_ids['data'][sp_warehouses['data']['type_id'][i]]}}</td>

            <td>{{sp_warehouses['data']['order_id'][i]}}</td>

            <td>{{statuses_ids['data'][sp_warehouses['data']['status_id'][i]]}}</td>

            <td>{{acc_employees['data'][sp_warehouses['data']['acc_emp_id'][i]]}}</td>

            <td>{{sp_warehouses['data']['pr_serial_num'][i]}}</td>

            <td>
                <button onclick="deleteType(this)">Удалить</button>
            </td>

        </tr>
        {% endfor %}

        </tbody>

    </table>
</div>

<script src="/static/js/sp_warehouse/all.js"></script>

{% endblock %}


