{% extends 'base.html' %}

{% block head %}
<title>Информация о запчасти</title>
{{super()}}

<link rel="stylesheet" href="/static/css/sp_warehouse/sp_warehouse_base.css">
<link rel="stylesheet" href="/static/css/sp_warehouse/get.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-container">
    <div class="add-header">
        <h3>Информация о запчасти</h3>
    </div>
    <div id="myForm" class="add-form">

        <div class="form-control">
            <label for="sp_id">Номер запчасти</label>
            <input type="text" id="sp_id" readonly
                   value="{{sp_warehouse_info['data']['sp_id']}}"/>

            <label for="type_id">Тип запчасти</label>
            <input type="text" id="type_id" readonly
                   value="{{type_name['data']['name']}}"/>

            <label for="order_id">Номер заказа</label>
            <input type="text" id="order_id" readonly
                   value="{{sp_warehouse_info['data']['order_id']}}"/>


            <label for="status_id">Состояние</label>
            <input type="text" id="status_id" readonly
                   value="{{status_name['data']['status']}}"/>

        </div>

        <div class="form-control">
            <label for="acc_emp_id">Принял(а)</label>
            <input type="text" id="acc_emp_id" readonly
                   value="{{acc_employee['data']['last_name']}} {{acc_employee['data']['first_name']}} {{acc_employee['data']['middle_name']}}"/>


            <label for="used_emp_id">Использовал(а)</label>
            <input type="text" id="used_emp_id" readonly
                   value="{{used_employee['data']['last_name']}} {{used_employee['data']['first_name']}} {{used_employee['data']['middle_name']}}"/>


            <label for="pr_serial_num">Серийный номер продукта</label>
            <input type="text" id="pr_serial_num" readonly
                   value="{{sp_warehouse_info['data']['pr_serial_num']}}"/>

        </div>


        <button onclick="updateSpWarehouse()" class="add-submit">
            Изменить
        </button>

        <button onclick="deleteSpWarehouse()" class="add-submit2">
            Удалить
        </button>

        <button onclick="otmenFunction()" class="add-submit3">
            Назад
        </button>

    </div>
</div>


<script src="/static/js/sp_warehouse/get.js"></script>

{% endblock %}


