{% extends 'base.html' %}

{% block head %}
{{super()}}
    <link rel="stylesheet" href="/static/css/sp_warehouse/sp.css">
{% endblock %}

{% block body %}
{{super()}}

<div style="width: 100%; text-align: center; margin-top: 1%">
    <h1>Запчасти</h1>
</div>

<div class="menu">

    <ul>
        <li><a href="{{url_for('sp_type.all')}}">Информация о запчастей</a></li>
        <li><a href="{{url_for('sp_status.all')}}">Состояние запчастей</a></li>
        <li><a href="{{url_for('sp_warehouse.all')}}">Склад запчастей</a></li>
        <li><a href="{{url_for('employees.account')}}" class="back-li">Назад</a></li>
    </ul>

</div>




<script src="/static/js/sp_warehouse/sp.js"></script>
<script src="/static/js/base.js"></script>
{% endblock %}
