{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/sp_warehouse/update.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-container">
    <div class="add-header">
        <h2>Изменить</h2>
    </div>
    <form class="add-form"
          action="{{ url_for('sp_warehouse.update', sp_id=sp_warehouse_info['data']['sp_id']) }}"
          method="POST">

        <div class="form-control">
            <label for="status_id">Статус</label>
            <select name="status_id" id="status_id">
                {% for i in range(statuses_ids['data']['status_id']|length)%}
                {%if sp_warehouse_info['data']['status_id'] == statuses_ids['data']['status_id'][i]%}
                <option selected value="{{statuses_ids['data']['status_id'][i]}}">
                    {{statuses_ids['data']['status'][i]}}
                </option>
                {%else%}
                <option value="{{statuses_ids['data']['status_id'][i]}}">
                    {{statuses_ids['data']['status'][i]}}
                </option>
                {%endif%}
                {%endfor%}
            </select>
        </div>

        <div class="form-control">
        <label for="used_emp_id">Использовал(а)</label>
            <select name="used_emp_id" id="used_emp_id">
                {% for i in range(employees_ids['data']['emp_id']|length)%}
                {%if sp_warehouse_info['data']['used_emp_id'] == employees_ids['data']['emp_id'][i]%}
                <option selected value="{{employees_ids['data']['emp_id'][i]}}">
                    {{employees_ids['data']['last_name'][i]}}
                    {{employees_ids['data']['first_name'][i]}}
                    {{employees_ids['data']['middle_name'][i]}}
                </option>
                {%else%}
                <option value="{{employees_ids['data']['emp_id'][i]}}">
                    {{employees_ids['data']['last_name'][i]}}
                    {{employees_ids['data']['first_name'][i]}}
                    {{employees_ids['data']['middle_name'][i]}}
                </option>
                {%endif%}
                {%endfor%}
            </select>
        </div>

        <div class="form-control">
        <label for="pr_serial_num">Серийный номер продукта</label>
             <input type="text"  name="pr_serial_num" id="pr_serial_num" 
             value="{{sp_warehouse_info['data']['pr_serial_num']}}"/>
           
        </div>


        <input type="submit" class="add-submit" value="Сохранить"/>

        <button type="button" onclick="otmenFunction()"
                class="add-submit2" value="Отмена">
            Отмена
        </button>

    </form>

</div>

<script src="/static/js/sp_warehouse/update.js"></script>

{% endblock %}


