{% extends 'base.html' %}

{% block head %}
<title>Новый продукт</title>
{{super()}}

<link rel="stylesheet" href="/static/css/products/add.css">


{% endblock %}

{% block body %}
{{super()}}

<div class="add-container">
    <div class="add-header">
        <h2>Новый продукт</h2>
    </div>

    <form id="myForm" class="add-form">

        <div class="form-control">
            <label for="product_id">Название продукта</label>
            <select name="product_id" id="product_id" required>
                <option hidden value="" selected disabled>--Выбрать--</option>
                {% for i in range(products_ids['data']['product_id']|length)%}
                <option value="{{products_ids['data']['product_id'][i]}}">{{products_ids['data']['name'][i]}}</option>
                {%endfor%}
            </select>


            <label for="dealer_id">Дилер</label>
            <select name="dealer_id" id="dealer_id" required>
                <option hidden value="" selected disabled>--Выбрать--</option>
                {% for i in range(dealers_ids['data']['dealer_id']|length)%}
                <option value="{{dealers_ids['data']['dealer_id'][i]}}">{{dealers_ids['data']['name'][i]}}</option>
                {%endfor%}
            </select>
            
            <label for="mac_address">МАС адрес</label>
            <input type="text" name="mac_address" id="mac_address" placeholder="Введите mac адрес...">

        </div>


        <div class="form-control">
            <label for="manufactured_date">Дата изготовления</label>
            <input type="date" name="manufactured_date" id="manufactured_date" required>

            <label for="fw_id">Прощивка</label>
            <select name="fw_id" id="fw_id" required>
                <option hidden value="" selected disabled>--Выбрать--</option>
                {% for i in range(firmwares_ids['data']['fw_id']|length)%}
                <option value="{{firmwares_ids['data']['fw_id'][i]}}">{{firmwares_ids['data']['name'][i]}}</option>
                {%endfor%}
            </select>


            <label for="status_id">Статус</label>
            <select name="status_id" id="status_id" required>
                <option hidden value="" selected disabled>--Выбрать--</option>
                {% for i in range(status_ids['data']['status_id']|length)%}
                <option value="{{status_ids['data']['status_id'][i]}}">{{status_ids['data']['status'][i]}}</option>
                {%endfor%}
            </select>

        </div>


        <input type="submit" class="add-submit" value="Сохранить"/><br>

        <button type="button" onclick="otmenFunction()" class="add-submit2" value="Отмена"> Отмена</button>

    </form>
</div>


<script src="/static/js/products/add.js"></script>

{% endblock %}


