{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/products/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <a class="back-button" href="{{url_for('employees.account')}}">Назад</a>
    <button id="addClick">Добавить новый продукт</button>
</div>
<h2 class="header-all">Продукты</h2>
<div class="table">
    <table>
        <thead>

        <tr>

            <th class="hidden">ИД</th>

            <th>Логин по умолчанию</th>

            <th>Пароль по умолчанию</th>

            <th>Wi-Fi Логин</th>

            <th>Wi-Fi Пароль</th>

            <th>Серийный номер</th>

            <th>Название</th>

            <th>Дилер</th>

            <th>MAC-адрес</th>

            <th>Клиент</th>

            <th>Прощивка</th>

            <th>Статус</th>

            <th>Действие</th>

        </tr>

        </thead>


        <tbody id="tBody">

        {% for i in range(products_info['data']['serial_num']|length) %}
        <tr ondblclick="getType(this)" ser_num="{{products_info['data']['serial_num'][i]}}">

            <td>{{products_info['data']['default_login'][i]}}</td>

            <td>{{products_info['data']['default_password'][i]}}</td>

            <td>{{products_info['data']['ap_login'][i]}}</td>

            <td>{{products_info['data']['ap_password'][i]}}</td>

            <td >{{products_info['data']['serial_num'][i]}}</td>

            <td>{{products_by_ids['data'][products_info['data']['product_id'][i]]}}</td>

            <td>{{dealers_by_ids['data'][products_info['data']['dealer_id'][i]]}}</td>

            <td>{{products_info['data']['mac_address'][i]}}</td>

            <td>{{clients_by_ids['data'][products_info['data']['client_id'][i]]}}</td>

            <td>{{firmwares_by_ids['data'][products_info['data']['firmware_id'][i]]}}</td>

            <td>{{status_by_ids['data'][products_info['data']['status_id'][i]]}}</td>

            <td>
                <button onclick="deleteType(this)">Удалить</button>
            </td>

        </tr>
        {% endfor %}

        </tbody>

    </table>
</div>

<script src="/static/js/products/all.js"></script>

{% endblock %}


