{% extends 'base.html' %}

{% block head %}
<title>Изменить данные продукта</title>
{{super()}}

<link rel="stylesheet" href="/static/css/products/products_base.css">
<link rel="stylesheet" href="/static/css/products/update.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-container">

    <div class="add-header">
        <h3>Изменить данные продукта</h3>
    </div>

    <form action="{{ url_for('products.update', serial_num=product_info['data']['serial_num']) }}"
          method="POST"
          id="myForm" class="add-form">

        <div class="form-control">

            <label for="dealers_ids">Дилер</label>
            <select name="dealer_id" id="dealers_ids" required>
                {%for i in range(dealers_ids['data']['dealer_id']|length)%}
                {%if product_info['data']['dealer_id'] == dealers_ids['data']['dealer_id'][i]%}
                <option selected value="{{dealers_ids['data']['dealer_id'][i]}}">
                    {{dealers_ids['data']['name'][i]}}
                </option>
                {% else %}
                <option value="{{dealers_ids['data']['dealer_id'][i]}}">
                    {{dealers_ids['data']['name'][i]}}
                </option>
                {%endif%}
                {%endfor%}
            </select>

        </div>

        <div class="form-control">

            <label for="status_ids">Статус</label>
            <select name="status_id" id="status_ids" required>
                {%for i in range(status_ids['data']['status_id']|length)%}
                {%if product_info['data']['status_id'] == status_ids['data']['status_id'][i]%}
                <option selected value="{{status_ids['data']['status_id'][i]}}">
                    {{status_ids['data']['status'][i]}}
                </option>
                {% else %}
                <option value="{{status_ids['data']['status_id'][i]}}">
                    {{status_ids['data']['status'][i]}}
                </option>
                {%endif%}
                {%endfor%}
            </select>

        </div>


        <input type="submit" class="add-submit" value="Сохранить"/>

        <button type="button" onclick="otmenFunction()" class="add-submit2" value="Add">
            Отмена
        </button>

    </form>

</div>


<script src="/static/js/products/update.js"></script>

{% endblock %}


