{% extends 'base.html' %}

{% block head %}
<title>Детали заказа запчастей</title>
{{super()}}

<link rel="stylesheet" href="/static/css/sp_order_detail/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <a class="back-button" href="{{url_for('employees.account')}}">Назад</a>
    <button id="addClick">Добавить</button>
</div>
<h2 class="header-all">Детали заказа запчастей</h2>
<div class="table">
    <table>
        <thead>

        <tr>

            <th class="hidden">ИД</th>

            <th>Тип запчасти</th>

            <th>Валюта</th>

            <th>Единица измерения</th>

            <th>Номер заказа</th>

            <th>Действие</th>

        </tr>

        </thead>


        <tbody id="tBody">

        {% for i in range(sp_order_details['data']['detail_id']|length) %}
        <tr ondblclick="getType(this)">

            <td class="hidden">{{sp_order_details['data']['detail_id'][i]}}</td>

            <td>{{types_ids['data'][sp_order_details['data']['type_id'][i]]}}</td>

            <td>{{currencies_ids['data'][sp_order_details['data']['curr_id'][i]]}}</td>

            <td>{{units_ids['data'][sp_order_details['data']['unit_id'][i]]}}</td>

            <td>{{sp_order_details['data']['order_id'][i]}}</td>


            <td>
                <button onclick="deleteType(this)">Удалить</button>
            </td>

        </tr>
        {% endfor %}

        </tbody>

    </table>
</div>

<script src="/static/js/sp_order_detail/all.js"></script>

{% endblock %}


