{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/currency/add.css">


{% endblock %}

{% block body %}
{{super()}}


<div class="container">

    <div class="header">
        <h2>Валюта</h2>
    </div>

    <form id="myForm" class="form" action="{{url_for('currency.add')}}" method="POST">

        <div class="form-control">
            <label for="currency">Наименование</label>
            <input type="text" name="currency" placeholder="Введите наименование..." id="currency" required/>
        </div>

        <input type="submit" class="add-type-submit" value="Сохранить"/>

        <input onclick="otmenFunction()" type="button" class="add-type-submit" value="Отмена"/>

    </form>

</div>


<script src="/static/js/currency/add.js"></script>


{% endblock %}


