{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/currency/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <button onclick="addClick()" id="addClick">Добавить</button>
</div>

<div class="table">
    <table>
        <thead>

        <tr>

            <th class="hidden">Номер должности</th>

            <th>Валюта</th>

            <th>Действия</th>

        </tr>
        </thead>

        <tbody id="tBody">

        {% for i in range(currencies['data']['curr_id']|length) %}

        <tr ondblclick="getType(this)">

            <td class="hidden">{{currencies['data']['curr_id'][i]}}</td>

            <td>{{currencies['data']['currency'][i]}}</td>

            <td>
                <button onclick="deleteCurrency(this)">Удалить</button>
            </td>

        </tr>

        {% endfor %}

        </tbody>

    </table>
</div>

<script src="/static/js/currency/all.js"></script>

{% endblock %}


