{% extends 'base.html' %}

{% block head %}
<title>Валюты</title>
{{super()}}

<link rel="stylesheet" href="/static/css/currency/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <a class="back-button" href="{{url_for('employees.constants_page')}}">Назад</a>
    <button onclick="addClick()" id="addClick">Добавить</button>
</div>
<h2 class="header-all">Валюты</h2>
<div class="table">
    <table>
        <thead>

        <tr>

            <th class="hidden">Номер</th>

            <th>Название валюты</th>

            <th>Действие</th>

        </tr>
        </thead>

        <tbody id="tBody">

        {% for i in range(currencies['data']['curr_id']|length) %}

        <tr ondblclick="getType(this)">

            <td class="hidden">{{currencies['data']['curr_id'][i]}}</td>

            <td>{{currencies['data']['currency'][i]}}</td>

            <td>
                <button onclick="deleteCurrency(this)">Удалить</button>
            </td>

        </tr>

        {% endfor %}

        </tbody>

    </table>
</div>

<script src="/static/js/currency/all.js"></script>

{% endblock %}


