{% extends 'base.html' %}

{% block head %}
<title>Информация о валюте</title>
{{super()}}

<link rel="stylesheet" href="/static/css/currency/get.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="container">

    <div class="header">
        <h2>Информация о валюте</h2>
    </div>

    <div class="form">

        <input id="curr_id" type="hidden" value="{{curr_info['data']['curr_id']}}"/>

        <div class="form-control">
            <label for="currency">Название валюты</label>
            <input type="text"
                   value="{{curr_info['data']['currency']}}" id="currency" readonly/>
        </div>

        <button onclick="deleteCurr()" class="add-type-submit">
            Удалить
        </button>

        <button onclick="otmenFunction()" class="add-type-submit2">
            Назад
        </button>
    </div>

</div>

<script src="/static/js/currency/get.js"></script>

{% endblock %}


