{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/employees/department/get.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="container">
    <div class="header">
        <h2>Названия должности</h2>
    </div>

    <div class="form">
        <div class="form-control">
            <input id="curr_id" type="hidden" value="{{curr_info['data']['curr_id']}}"/>
        </div>

        <div class="form-control">
            <label for="currency">Имя</label>
            <input type="text"
                   value="{{curr_info['data']['currency']}}" id="currency" readonly/>
        </div>

        <button onclick="updateType()" class="add-type-submit">
            Изменить
        </button>

        <button onclick="deleteCurr()" class="add-type-submit2">
            Удалить
        </button>

        <button onclick="otmenFunction()" class="add-type-submit3">
           Назад
        </button>
    </div>

</div>

<script src="/static/js/currency/get.js"></script>

{% endblock %}


