<!DOCTYPE html>
<html>
<head>
    {% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Fido Smart Home</title>

    <link rel="stylesheet" href="/static/css/base.css">

    {% endblock %}
</head>
<body>
<div class="background-color">
    {% block body %}
    <div class="fixed">
        <button type="button" onclick="glavniyStranisa()" class="glavni-stranisa">Фидо Умный<p>Дом</p></button>
        <button type="button" onclick="Viyti()" class="glavni-stranisa viyti">Выйти</button>
    </div>
    <script src="/static/js/base.js"></script>
    {% endblock %}
</div>
</body>
</html>
