<!DOCTYPE html>
<html>
<head>
    {% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Fido Electronics</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/css/base.css">

    {% endblock %}
</head>

<body class="background-color">

{% block body %}


<div class="fixed">
    <div>
        <a href="{{url_for('core.index')}}">
            <button type="button" class="glavni-stranisa"><span style="color: #FF7F27;">Fido</span><p><span style="color: #6771ff;">Electronics</span></p></button>
        </a>
    </div>
    <a href="{{url_for('employees.logout')}}">
        <button type="button" class="glavni-stranisa viyti">Выйти</button>
    </a>
</div>

{% endblock %}


<script src="/static/js/base.js"></script>
</body>

</html>
