<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Fido Smart Home</title>

    <link rel="stylesheet" href="/static/css/clients.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    {% endblock %}
</head>

<body class="background-color" id="container">
{% block body %}

<div class="fixed">
    <button type="button" onclick="glavniyStranisa()" class="glavni-stranisa">Fido<p>Electronics</p></button>
    <button type="button" onclick="logoutClient()" class="glavni-stranisa viyti">Выйти</button>
    <button type="button" class="hi-person" id="hi-person" onmouseover="displayBlock()" onmouseout="displayNone()">
        <span>Привет {{first_name}}</span>
        <p> Аккаунт & Продукты</p>
    </button>

    <form class="search-form">
        <div>
            <select name="" id="" class="select-search">
                <option value="1">Amazon</option>
                <option value="2">Amazon1</option>
                <option value="3">Amazon2</option>
            </select>
        </div>

        <div>
            <input type="search" class="input-search" placeholder="search..">
        </div>

        <div>
            <button type="submit" class="input-search-button">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>
</div>

<div class="container">

    <div class="account-products" id="account-products" onmouseover="accountProductsBlock()"
         onmouseout="accountProductsNone()">
        <ul>
            <li><a href="#" id="account">Аккаунт</a></li>
            <li><a href="#" id="products">Продукты</a></li>
        </ul>
    </div>

    <!--    modal open -->
    <div class="modal-products" id="modal-products">
        <div class="modal">
            <span id="closeBtn">&times;</span>
            <h1>Modal siz uchun ☺</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus asperiores commodi, dicta dolores
                eius eveniet facilis fuga ipsum libero magni, mollitia nesciunt quidem quos sed sequi voluptatibus. Sit,
                tempore.
            </p>

            <button id="close">Close me</button>
        </div>
    </div>
    <!--    modal close -->

</div>

{% endblock %}
<script src="/static/js/clients.js"></script>
</body>
</html>
