* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.add-product {
    margin-right: 5px;
}

/****** hi person open ******/
/***************************/

.hi-person {
    float: left;
    margin-right: 10px;
    width: 160px;
    height: 46px;
    margin-top: 2px;
    background-color: #1b232e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 16px;

}


.hi-person span {
    font-size: 11px;
}

.hi-person p {
    font-size: 14px;
    font-weight: bold;
}

.hi-person:hover {
    border: 1px solid #c7c7c7;
}

.hi-person:hover .account-products {
    display: block;
}


.account-products {
    position: absolute;
    top: 46px;
    right: 296px;
    margin: 0;
    display: none;
}

.account-products ul::before {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(20%, -90%);
    border-width: 0.5em .5em;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: white;
    border-top-color: transparent;
}

.account-products ul {
    list-style: none;
    height: auto;
    width: 170px;
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .2);
    transition: all 1s ease;
    border-top-right-radius: 2px;

}

.account-products ul li {
    width: 100%;
}

.account-products ul li a {
    width: 100%;
    text-decoration: none;
    padding: 7px;
    color: #1b232e;
    font-family: Arial;
    display: block;
}

.account-products ul li a:hover {
    background-color: #e1e5e5;
}


@media screen and (min-width: 360px) and (max-width: 812px) {
    .account-products {
        position: absolute;
        top: 48px;
        right: 71px;
        margin: 0;
        display: block;
    }
}

/****** hi person close ******/
/****************************/


/***** products img open ****/
/***************************/

main {
    position: relative;
}

section {
    max-width: 1500px;
    min-width: 360px;
    width: 1330px;
    margin: 2% auto;
    border-left: 1px solid #adaeb19e;
    border-right: 1px solid #adaeb19e;
    /*position: absolute;*/
    /*top: 10%;*/
    /*left: 50%;*/
    /*z-index: 9;*/
    /*transform: translate(-50%, 0);*/
}

.all-products {
    width: 100%;
}

.all-products .img-div {
    float: left;
    max-width: 290px;
    min-height: 120px;
    height: 345px;
    background-color: #fff;
    margin: 20px;
    padding: 45px 30px;
    overflow: hidden;
}

.all-products .img-div a {
    font-size: 13px;
    color: #007185;
    text-decoration: none;
    font-family: "Amazon Ember", Arial, sans-serif;
}

.all-products .img-div a:hover {
    text-decoration: underline;
    color: #C7511F;
}

.all-products img {
    width: 100%;
    min-height: 120px;
    height: 255px;
    cursor: pointer;
    margin-top: 15px;
    background-color: #eaeded;
    margin-bottom: 10px;
}

.all-products img:hover {
    background-color: #dde0e0;
}

.all-products .description {
    width: 229px;
    height: auto;
    text-align: left;
    font-size: 15px;
    color: #1b232e;
    font-weight: 600;
    /*margin-left: -280px;*/
    margin-top: -34px;
}

/***** products img close ****/
/****************************/
