:root {
    --button-hover: 1px solid #c7c7c7;
    --text-size: .9rem;
    --text-decoration: underline;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*.add-product {*/
/*    margin-right: 5px;*/
/*}*/

/****** hi person open ******/
/***************************/

.hi-person-div {
    position: relative;
    z-index: 100
}

.hi-person {
    float: left;
    margin-right: 10px;
    width: 160px;
    height: 46px;
    margin-top: 2px;
    background-color: #1b232e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 16px;

}


.hi-person span {
    font-size: 11px;
}

.hi-person p {
    font-size: 12px;
    font-weight: bold;
}

.hi-person:hover {
    border: 1px solid #c7c7c7;
}

.hi-person:hover .account-products {
    display: block;
}


.account-products {
    position: absolute;
    top: 46px;
    right: 296px;
    margin: 0;
    display: none;
}

.account-products ul::before {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(20%, -90%);
    border-width: 0.5em .5em;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: white;
    border-top-color: transparent;
}

.account-products ul {
    list-style: none;
    height: auto;
    width: 170px;
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .2);
    transition: all 1s ease;
    border-top-right-radius: 2px;

}

.account-products ul li {
    width: 100%;
}

.account-products ul li a {
    width: 100%;
    text-decoration: none;
    padding: 7px;
    color: #1b232e;
    font-family: Arial;
    display: block;
}

.account-products ul li a:hover {
    background-color: #e1e5e5;
}

/****** hi person close ******/
/****************************/


/***** products img open ****/
/***************************/

.all-products {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 2rem 5rem;
}

@media screen and (max-width: 1100px) {
    .all-products {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin: 2rem;
    }
}

@media screen and (max-width: 691px) {
    .all-products {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        margin: 2rem;
    }
}

.index-img {
    margin-top: 1rem;
    height: 300px;
    min-height: 200px;
}

.all-products .img-div {
    background-color: #fff;
    padding: 1rem 2rem;
    cursor: pointer;
}

.all-products .img-div a {
    font-size: var(--text-size);
    color: #007185;
    text-decoration: none;
    font-family: "Amazon Ember", Arial, sans-serif;
    cursor: pointer;
}

.all-products .img-div a:hover {
    text-decoration: underline;
    color: #C7511F;
}

.all-products img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #bdc3cd;
    margin-bottom: 10px;
}

.all-products img:hover {
    background-color: #bfc9d9;
}

.all-products .description {
    font-size: var(--text-size);
    color: #1b232e;
    font-weight: 600;
}

.description-div {
    height: auto;
}

.href-detail {
    margin-top: 0.5rem
}


/***** products img close ****/
/****************************/


/*media style open*/

/*media style close*/
