* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.add-product {
    margin-right: 5px;
}

/****** hi person open ******/
/***************************/

.hi-person-div {
    position:relative;
    z-index: 100
}

.hi-person {
    float: left;
    margin-right: 10px;
    width: 160px;
    height: 46px;
    margin-top: 2px;
    background-color: #1b232e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 16px;

}


.hi-person span {
    font-size: 11px;
}

.hi-person p {
    font-size: 14px;
    font-weight: bold;
}

.hi-person:hover {
    border: 1px solid #c7c7c7;
}

.hi-person:hover .account-products {
    display: block;
}


.account-products {
    position: absolute;
    top: 46px;
    right: 296px;
    margin: 0;
    display: none;
}

.account-products ul::before {
    content: "";
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(20%, -90%);
    border-width: 0.5em .5em;
    border-style: solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: white;
    border-top-color: transparent;
}

.account-products ul {
    list-style: none;
    height: auto;
    width: 170px;
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, .2);
    transition: all 1s ease;
    border-top-right-radius: 2px;

}

.account-products ul li {
    width: 100%;
}

.account-products ul li a {
    width: 100%;
    text-decoration: none;
    padding: 7px;
    color: #1b232e;
    font-family: Arial;
    display: block;
}

.account-products ul li a:hover {
    background-color: #e1e5e5;
}


@media screen and (min-width: 360px) and (max-width: 812px) {
    .account-products {
        position: absolute;
        margin: 0;
        display: none;
    }
}

/****** hi person close ******/
/****************************/


/***** products img open ****/
/***************************/

main {
    position: relative;
}

section {
    max-width: 1500px;
    min-width: 360px;
    width: 1330px;
    margin: 2% auto;
    border-left: 1px solid #adaeb19e;
    border-right: 1px solid #adaeb19e;
}

.all-products {
    width: 100%;
}

.all-products .img-div {
    float: left;
    max-width: 395px;
    min-height: 120px;
    height: 443px;
    background-color: #fff;
    margin: 20px;
    padding: 45px 30px;
    overflow: hidden;
}

.all-products .img-div a {
    font-size: 13px;
    color: #007185;
    text-decoration: none;
    font-family: "Amazon Ember", Arial, sans-serif;
    cursor: pointer;
}

.all-products .img-div a:hover {
    text-decoration: underline;
    color: #C7511F;
}

.all-products img {
    width: 100%;
    min-height: 120px;
    height: 360px;
    cursor: pointer;
    margin-top: 15px;
    background-color: #eaeded;
    margin-bottom: 10px;
}

.all-products img:hover {
    background-color: #d9dddd;
}

.all-products .description {
    width: 229px;
    height: auto;
    text-align: left;
    font-size: 15px;
    color: #1b232e;
    font-weight: 600;
    /*margin-left: -280px;*/
    margin-top: -34px;
}

/***** products img close ****/
/****************************/



/*media style open*/

@media only screen and (max-width: 640px) {

    .hi-person-div {
        display: flex;
        justify-content: right;
        padding: 0 5%;
        width: 75%;
    }

    .hi-person {
        float: left;
        width: 90%;
        font-size: 13px;
    }
    .account-products {
        display: none;
    }
    .show-modal {
        min-width: 185px;
        position: absolute;
        top: 97%;
        left: 0;
    }
    .glavni-stranisa {
        float: right;
    }

    .account-products {
        margin-right: -77%;
        z-index: 100;
    }

    main {
        width: 100%;
        border: 1px solid transparent;
        margin-top: 15%;
    }
    
    section {
        width: 100%;
        position: unset;
        margin: 1% 0;
    }

    .all-products {
        width: 100%;
    }

    .all-products .img-div {
        float: none;
        margin: 3% auto;
    }

    .all-products .img-div .description, a  {
        font-size: 13px;
    }


}

@media only screen and (min-width: 641px) and (max-width: 1024px){

    section {
        width: 100%;
        margin-bottom: 5%;
    }

    .all-products {
        width: 100%;
        display: table;
        margin-bottom: 4%;
    }

    .all-products .img-div {
        width: 19.7%;
        height: 230px;
        padding: 41px 15px;
    }

    .all-products img {
        height: 152px;

    }
}

@media only screen and (min-width: 1025px) and (max-width: 1366px){
    section {
        border: 1px solid red;
    }
    .all-products .img-div {
        width: 21%;
        height: 250px;
        padding: 41px 20px;
    }

    .all-products img {
        height: 170px;
    }
}


/*media style close*/