{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/products/category/add.css">


{% endblock %}

{% block body %}
{{super()}}

<div class="container">
    <div class="header">
        <h2>Новая категория</h2>
    </div>

    <form id="myForm" class="form">

        <div class="form-control">
            <label for="name">Название категории</label>
            <input type="text" name="name" placeholder="Введите название..." id="name" required/>
        </div>

        <div class="form-control">
            <label for="desc">Описание</label>
            <textarea type="text" name="desc" id="desc" placeholder="Введите описание..."></textarea>
        </div>

        <div class="form-control">
            <label for="parent_id">Родительская категория</label>
            <select name="parent_id" id="parent_id" required>
                <option hidden value="" selected disabled>--Выбрать--</option>
                {% for i in range(ids_names['data']['category_id']|length)%}
                <option value="{{ids_names['data']['category_id'][i]}}">
                    {{ids_names['data']['name'][i]}}
                </option>
                {%endfor%}
            </select>
        </div>

        <input type="submit" class="add-type-submit" value="Сохранить"/>

        <input type="button" onclick="otmenFunction()" class="add-type-submit2" value="Отмена"/>

    </form>
</div>


<script src="/static/js/products/category/add.js"></script>

{% endblock %}


