{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/products/category/update.css">

{% endblock %}

{% block body %}
{{super()}}


<div class="container">
        <div class="header">
                <h2>Названия должности</h2>
        </div>

<form class="form"
      action="{{ url_for('products.category.update', cat_id=cat_info['data']['category_id']) }}"
      method="POST">

        <div class="form-control">
        <label for="type_name">Имя</label>
        <input type="text" id="type_name"
                value="{{cat_info['data']['name']}}" readonly/>
        </div>

        <div class="form-control">
        <label for="desc">Описание</label>
        <textarea name="desc" id="desc">{{cat_info['data']['description']}}</textarea>
        </div>

        <div class="form-control">
                <label for="parent_id">Родительская категория</label>
                <select name="parent_id" id="parent_id">
                        {% for i in range(ids_names['data']['category_id']|length)%}
                        {%if cat_info['data']['parent_cat_id'] == ids_names['data']['category_id'][i]%}
                        <option selected value="{{ids_names['data']['category_id'][i]}}">
                                {{ids_names['data']['name'][i]}}
                        </option>
                        {%else%}
                        <option value="{{ids_names['data']['category_id'][i]}}">
                                {{ids_names['data']['name'][i]}}
                        </option>
                        {%endif%}
                        {%endfor%}
                </select>
        </div>

        <input type="submit" class="add-type-submit" value="Сохранить" />
        <button type="button" onclick="otmenFunction()"
                class="add-type-submit2">
                Отмена
        </button>

</form>

</div>

<script src="/static/js/products/category/update.js"></script>

{% endblock %}


