{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/clients/subscription/add.css">


{% endblock %}

{% block body %}
{{super()}}

<div class="container">
    <div class="header">
        <h2>Новая должность</h2>
    </div>

    <form id="myForm" class="form">

        <div class="form-control">
            <label for="name">Наименование</label>
            <input type="text" name="name" placeholder="Введите наименование..." id="name" required/>
        </div>

        <div class="form-control">
            <label for="desc">Описание</label>
            <input type="text" name="desc" placeholder="Введите описание..." id="desc" required/>
        </div>

        <div class="form-control">
            <label for="monthly_fee">Ежемесячная плата</label>
            <input type="number" name="monthly_fee" placeholder="Введите ежемесячная плата..." id="monthly_fee"
                   required/>
        </div>

        <input type="submit" class="add-type-submit" value="Сохранить"/>

        <input type="button" onclick="otmenFunction()" class="add-type-submit2" value="Отмена"/>

    </form>
</div>


<script src="/static/js/clients/subscription/add.js"></script>

{% endblock %}


