{% extends 'base.html' %}

{% block head %}
<title>Пакеты</title>
{{super()}}

<link rel="stylesheet" href="/static/css/clients/subscription/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <a class="back-button" href="{{url_for('employees.account')}}">Назад</a>
    <button id="addClick">Добавить</button>
</div>

<h2 class="header-all">Пакеты</h2>

<div class="table">
    <table class="table">
        <thead>
        <tr>

            <th class="hidden">Номер</th>

            <th>Названия пакета</th>

            <th>Ежемесячная плата</th>

            <th colspan="2">Действие</th>

        </tr>
        </thead>

        <tbody id="tBody">
        {% for i in range(subs_info['data']['subs_id']|length) %}
        <tr ondblclick="getType(this)">

            <td class="hidden">{{subs_info['data']['subs_id'][i]}}</td>

            <td>{{subs_info['data']['name'][i]}}</td>

            <td>{{subs_info['data']['monthly_fee'][i]}}</td>

            <td>
                <button onclick="deleteType(this)">Удалить</button>
            </td>

        </tr>
        {% endfor %}
        </tbody>

    </table>
</div>

<script src="/static/js/clients/subscription/all.js"></script>

{% endblock %}


