{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/employees/update_type.css">

{% endblock %}

{% block body %}
{{super()}}


<div class="container">
        <div class="header">
                <h2>Названия должности</h2>
        </div>
<form class="form"
      action="{{ url_for('clients.subscription.update', subs_id=subs_info['data']['subs_id']) }}"
      method="POST">

        <div class="form-control">
                <label for="desc">Description</label>
                <input type="text" name="desc" value="{{subs_info['data']['description']}}" id="desc" required/>
        </div>

        <div class="form-control">
                <label for="monthly_fee">monthly_fee</label>
                <input type="text" name="monthly_fee" value="{{subs_info['data']['monthly_fee']}}" id="monthly_fee" required/>
        </div>

        <input type="submit" class="add-type-submit" value="Сохранить" />
        <button type="button" onclick="otmenFunction()"
                class="add-type-submit" value="Отмена" >
                Отмена
        </button>

</form>

</div>

<script src="/static/js/employees/update_type.js"></script>

{% endblock %}


