{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/employees/department/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <a class="back-button" href="{{url_for('employees.account')}}">Назад</a>
    <button id="addClick">Добавить</button>
</div>
<h2 class="header-all">Департаменты</h2>
<div class="table">
    <table>
        <thead>

        <tr>

            <th class="hidden">Номер</th>

            <th>Наименование</th>

            <th>Действие</th>

        </tr>

        </thead>

        <tbody id="tBody">

        {% for i in range(departments['data']['dept_id']|length) %}

        <tr ondblclick="getType(this)">

            <td class="hidden">{{departments['data']['dept_id'][i]}}</td>

            <td>{{departments['data']['name'][i]}}</td>

            <td>
                <button onclick="deleteType(this)">Удалить</button>
            </td>

        </tr>

        {% endfor %}

        </tbody>

    </table>
</div>


<script src="/static/js/employees/department/all.js"></script>

{% endblock %}


