{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/employees/update_type.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="container">
        <div class="header">
                <h2>Названия должности</h2>
        </div>
<form class="form"
      action="{{ url_for('employees.department.update', dept_id=dept_info['data']['dept_id']) }}"
      method="POST">

        <div class="form-control">
        <label for="type_name">Имя</label>
        <input type="text" name="type_name" id="type_name"
               readonly value="{{dept_info['data']['name']}}"/>
        </div>

        <div class="form-control">
        <label for="desc">Описание</label>
        <textarea name="desc" id="desc">{{dept_info['data']['description']}}</textarea>
        </div>

        <input type="submit" class="add-type-submit" value="Сохранить" />
        <button type="button" onclick="otmenFunction()"
                class="add-type-submit" value="Отмена" >
                Отмена
        </button>

</form>

</div>

<script src="/static/js/employees/update_type.js"></script>

{% endblock %}


