{% extends 'base.html' %}

{% block head %}
<title>Изменить данные отдела</title>
{{super()}}

<link rel="stylesheet" href="/static/css/employees/department/department_base.css">
<link rel="stylesheet" href="/static/css/employees/department/update.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="container-crud">
    <div class="container">
        <div class="header">
            <h3>Изменить данные отдела</h3>
        </div>

        <form class="form"
              action="{{ url_for('employees.department.update', dept_id=dept_info['data']['dept_id']) }}"
              method="POST">

            <div class="form-control">
                <label for="dept_name">Название</label>
                <input type="text" name="dept_name" id="dept_name"
                       value="{{dept_info['data']['name']}}"/>
            </div>

            <div class="form-control">
                <label for="desc">Описание</label>
                <textarea name="desc" id="desc">{{dept_info['data']['description']}}</textarea>
            </div>

            <input type="submit" class="add-type-submit" value="Сохранить"/>

            <button type="button" onclick="otmenFunction()"
                    class="add-type-submit2" value="Отмена">
                Отмена
            </button>

        </form>

    </div>
</div>

<script src="/static/js/employees/department/update.js"></script>

{% endblock %}


