{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/firmwares/update.css">

{% endblock %}

{% block body %}
{{super()}}
{{fullname}}
{{fw_info}}
<form action="{{url_for('firmwares.update', fw_id=fw_info['fw_id'])}}" method="POST">
    <label for="name">name</label>
    <input type="text" id="name" name="name" value="{{fw_info['name']}}">
    <label for="model">model</label>
    <input type="text" id="model" name="model" value="{{fw_info['model']}}">
    <label for="version">version</label>
    <input type="text" id="version" name="version" value="{{fw_info['version']}}">
    <label for="desc">desc</label>
    <input type="text" id="desc" name="desc" value="{{fw_info['description']}}">
    <label for="fullname">fullname</label>
    <input type="text" id="fullname" value="{{fullname}}">
    <input type="submit" value="Update">
</form>


<script src="/static/js/firmwares/update.js"></script>

{% endblock %}