<!DOCTYPE html>
<html>
<head>
    {% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Fido Smart Home</title>

    <link rel="stylesheet" href="/static/css/clients/account.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">


    {% endblock %}
</head>
<body class="background-color">

{% block body %}

<div class="fixed">
    <button type="button" onclick="glavniyStranisa()" class="glavni-stranisa">Fido<p>Electronics</p></button>
    <div class="logout-hi-person">
        <button type="button" onclick="Logout()" class="glavni-stranisa logout">Выйти</button>
        <button type="button" class="hi-person" id="hi-person">
            <span>Привет {{first_name}}</span>
            <p> Аккаунт & Продукты</p>


            <div class="account-products" id="account-products">
                <ul>
                    <li><a href="#" onclick="Account()">Аккаунт</a></li>
                    <li><a href="#" onclick="Products()">Продукты</a></li>
                </ul>
            </div>
        </button>
    </div>
</div>

<div style="position:relative;">
<section>
    <div>
    <p class="your-account">Ваш Счет</p>
    </div>

    <a class="account-link1" onclick="accountLink1()">
    <div class="update-account">
        <div class="account_1">Обновите свой аккаунт</div>
        <div class="description-account_1">Если вы хотите обновить регистрацию!</div>
    </div>
    </a>

</section>
</div>
    {% endblock %}


<script src="/static/js/clients/account.js"></script>
<script src="/static/js/base.js"></script>


</body>
</html>
