{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/clients/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <a class="back-button" href="{{url_for('employees.account')}}">Назад</a>
    <button id="addClick">Добавить</button>
</div>
<h2 class="header-all">Клиенты</h2>
<div class="table">
<table class="table">
    <thead>
    <tr>

        <th class="hidden">Номер клиента</th>

        <th>Ф.И.O</th>

        <th>Названия пакета</th>

        <th>Действие</th>

    </tr>
    </thead>

    <tbody id="tBody">
    {% for i in range(clients_info['data']['client_id']|length) %}
    <tr ondblclick="getClient(this)">

        <td class="hidden">{{clients_info['data']['client_id'][i]}}</td>

        <td>
            {{clients_info['data']['first_name'][i]}}
            {{clients_info['data']['last_name'][i]}}
            {%if clients_info['data']['middle_name'][i] != None:%}
                {{clients_info['data']['middle_name'][i]}}
            {%endif%}
        </td>

        <td>{{names_ids_subs['data'][clients_info['data']['subs_id'][i]]}}</td>

        <td>
            <button onclick="deleteClient(this)">Удалить</button>
        </td>

    </tr>
    {% endfor %}
    </tbody>

</table>
</div>

<script src="/static/js/clients/all.js"></script>

{% endblock %}

