{% extends 'base.html' %}

{% block head %}
{{super()}}

<!-- <link rel="stylesheet" href="/static/css/employees/change_password.css"> -->

{% endblock %}

{% block body %}
{{super()}}

<div class="container">

    <div class="header">
        <h2>Заполнить форму</h2>
    </div>


    <form class="form" action="{{url_for('clients.change_password')}}" method="POST" id="myForm">

        <div class="form-control">
            <label for="clientname">Пользователь</label>
            <input type="text" name="clientname" id="clientname" placeholder="Пользователь ... " required>
            {% if not user_exists %}
            <p id="error_username" class="error">Пользователь не найден</p>
            {% endif %}
        </div>

        <div class="form-control">
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password" placeholder="Пароль ... " required>
            {% if wrong_password %}
            <p id="error_password" class="error">Неверный пароль</p>
            {% endif %}
        </div>

        <div class="form-control">
            <label for="new_password">Новый пароль</label>
            <input type="password" name="new_password" id="new_password" placeholder="Новый пароль ... " required>
            <p id="error_new_password" class="error"></p>
        </div>

        <div class="form-control">
            <label for="new_confirm_password">Повторите новый пароль</label>
            <input type="password" id="new_confirm_password" placeholder="Повторите новый пароль ... " required>
            <p id="error_new_confirm_password" class="error"></p>

        </div>

        <input type="submit" class="add-type-submit" value="Войти">
    </form>

</div>

<!-- <script src="/static/js/employees/change_password.js"></script> -->

{% endblock %}
