{% extends 'base.html' %}

{% block head %}
<title>Fido Electronics</title>
{{super()}}

<link rel="stylesheet" href="/static/css/clients/change_password.css">

{% endblock %}

{% block body %}
{{super()}}

<div style="position:relative;">
    <div class="add-container">

        <div class="add-header">
            <h2>Изменить пароль</h2>
        </div>


        <form class="add-form" action="{{url_for('clients.change_password')}}" method="POST" id="myForm"
              onsubmit="return validateForm()">

            <div class="form-control">
                <label for="username">Логин</label><span class="star">*</span>
                <input type="text" name="clientname" id="username" placeholder="Пользователь ... " required>
                {% if not user_exists %}
                <p id="error_username" class="error">Пользователь не найден</p>
                {% endif %}
                <br/>
                <br/>
                <label for="password">Пароль</label><span class="star">*</span>
                <input type="password" name="password" id="password" placeholder="Пароль ... " required>
                {% if wrong_password %}
                <p id="error_password" class="error">Неверный пароль</p>
                {% endif %}
            </div>

            <div class="form-control">
                <label for="new_password">Новый пароль</label><span class="star">*</span>
                <input type="password" name="new_password" id="new_password" placeholder="Новый пароль ... " required>
                <p id="error_new_password" class="error"></p>
                <br>
                <label for="new_confirm_password">Подтвердить пароль</label><span
                    class="star">*</span>
                <input type="password" id="new_confirm_password" placeholder="Подтвердить пароль ... " required>
                <p id="error_new_confirm_password" class="error"></p>

            </div>

            <input type="submit" class="add-submit" value="Сохранить">
            <input type="button" class="add-submit2" id="back" value="Отмена">
        </form>

    </div>
</div>
<script src="/static/js/clients/change_password.js"></script>

{% endblock %}
