{% extends 'base.html' %}

{% block head %}
{{super()}}
    <link rel="stylesheet" href="/static/css/clients/clients.css">
{% endblock %}

{% block body %}
{{super()}}

<div style="width: 100%; text-align: center; margin-top: 1%;">
    <h1>Клиенты</h1>
</div>

<div class="menu">

    <ul>
        <li><a href="{{url_for('clients.all')}}">Клиенты</a></li>
        <li><a href="{{url_for('clients.subscription.all')}}">Подписка</a></li>
        <li><a href="{{url_for('employees.account')}}" style="color: #bbb6b6; font-weight: bold">Назад</a></li>
    </ul>

</div>


<script src="/static/js/clients/clients.js"></script>
{% endblock %}