<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/static/css/clients/login.css">
    <link rel="stylesheet" href="/static/css/base.css">


    <title>Fido Smart Home</title>
</head>
<body class="background-color">
<div class="fixed">
    <button type="button" onclick="glavniyStranisa()" class="glavni-stranisa">Fido<p>Electronics</p></button>
    <button type="button" onclick="logoutClient()" class="glavni-stranisa viyti">Выйти</button>
</div>
<div class="container">

    <div class="header">
        <h2>Заполнить форму</h2>
    </div>


    <form class="form" action="{{url_for('clients.login')}}" method="POST">

        <div class="form-control">
            <label for="clientname">Пользователь</label>
            <input type="text" name="clientname" id="clientname" placeholder="Пользователь ... " required>
            {% if not user_exists %}
            <small id="error-small">Пользователь не найден</small>
            {% endif %}
        </div>

        <div class="form-control">
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password" placeholder="Пароль ... " required>
            <div class="register-open"><a href="#" id="register-open">Регистрация</a></div>
            {% if wrong_password %}
            <small id="error-small2">Неверный пароль</small>
            {% endif %}
        </div>

        <input type="submit" class="add-type-submit" value="Войти">

    </form>

</div>

<script src="/static/js/clients/login.js"></script>
<script src="/static/js/clients.js"></script>

</body>
</html>



