{% extends 'base.html' %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/css/clients/login.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="container">

    <div class="header">
        <h2>Заполнить форму</h2>
    </div>


    <form class="form" action="{{url_for('clients.login')}}" method="POST">

        <div class="form-control">
            <label for="clientname">Пользователь</label>
            <input type="text" name="clientname" id="clientname" placeholder="Пользователь ... " required>
            {% if not user_exists %}
            <small>Пользователь не найден</small>
            {% endif %}
        </div>

        <div class="form-control">
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password" placeholder="Пароль ... " required>
            {% if wrong_password %}
            <small>Неверный пароль</small>
            {% endif %}
        </div>

        <input type="submit" class="add-type-submit" value="Войти">

    </form>

</div>

<script src="/static/js/clients/login.js"></script>

{% endblock %}