<!DOCTYPE html>
<html>
<head>
    {% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/css/clients/login.css">
    <link rel="stylesheet" href="/static/css/base.css">


    <title>Fido Electronics</title>
    {% endblock %}
</head>
<body class="background-color">
{% block body %}

<div class="fixed">
    <button type="button" onclick="glavniyStranisa()" class="glavni-stranisa">Fido<p>Electronics</p></button>
    <button type="button" onclick="logoutClient()" class="glavni-stranisa viyti">Выйти</button>
</div>
<div style="position:relative;">
<div class="container">

<!--    <div class="header">-->
<!--        <h2>Заполнить форму</h2>-->
<!--    </div>-->
    <nav class="auth">
        <div class="login selected">Логин</div>
        <div class="signup" id="register_open">Регистрация</div>
    </nav>

    <form class="form show" action="{{url_for('clients.login')}}" id="login"  method="POST">

        <div class="form-control">
            <label for="clientname">Логин</label><span style="color: red; font-size: 16px">*</span>
            <input type="text" name="clientname" id="clientname" placeholder="Логин ... " required>
            {% if not user_exists %}
            <small id="error-small">Пользователь не найден</small>
            {% endif %}
        </div>

        <div class="form-control">
            <label for="password">Пароль</label><span style="color: red; font-size: 16px">*</span>
            <input type="password" name="password" id="password" placeholder="Пароль ... " required>
            <div class="register-open"><a id="change_password">Изменить пароль</a></div>
            {% if wrong_password %}
            <small id="error-small2">Неверный пароль</small>
            {% endif %}
        </div>

        <input type="submit" class="add-type-submit" value="Войти">

    </form>

</div>
</div>

{% endblock %}
<script src="/static/js/clients/login.js"></script>
<script src="/static/js/base.js"></script>

</body>
</html>



