<!DOCTYPE html>
<html>
<head>
    {% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Fido Smart Home</title>

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="/static/css/clients/my_products.css">


    {% endblock %}
</head>

<body class="background-color">

{% block body %}

<div class="fixed">
    <button type="button" onclick="glavniyStranisa()" class="glavni-stranisa">Fido<p>Electronics</p></button>
    <button type="button" onclick="Logout()" class="glavni-stranisa viyti">Выйти</button>
</div>

<div class="full-container">

    <div class="container">
        <section>
            <button class="show-modal">
                <img src="../../static/img/add_img.svg" class="add-img" alt="">
                <p>ДОБАВИТ ПРОДУКТ</p>
            </button>
        </section>
    </div>

    <div class="container modal hidden">
        <button class="close-modal">&times;</button>

        <div class="header">
            <h2>Добавит продукт</h2>
        </div>

        <form action="{{url_for('clients.my_products.get_my_products')}}" method="post" class="form">


            <div class="form-control">

                <label for="ser_num">Серийный номер</label><span style="color: red; font-size: 16px">*</span>
                <input type="text" id="ser_num" name="ser_num" required>
            </div>

            <div class="form-control">

                <label for="desc">Описание</label>
                <textarea type="text" id="desc" name="desc"></textarea>

            </div>

            <div class="buttons">
                <input type="submit" value="Сохранить" class="add-type-submit">
                <input type="button" value="Отмена" class="add-type-submit2 close-modal2">
            </div>
        </form>
    </div>
    <div class="overlay hidden"></div>

    <div class="container">

        <section>


            <div class="all-products-content">
                {% for i in range(my_products['data']['serial_num']|length)%}
                <div class="all-products">
                    <div class="img-div">
                    <span>
                       <p class="description">{{my_products['data']['description'][i]}}</p>
                    </span>
                        <img src="{{my_products['data']['photo'][i]}}" class="s" id="s"
                             ser_num="{{my_products['data']['serial_num'][i]}}" onclick="productImg(this)">
                        <a href="#">Learn more</a>
                    </div>
                    {% if my_products['data']['product_id'][i] == 1 %}
                    <div class="input-on-off">
                        <input type="button" action = "ON" value="Включить" onclick="actionCommand(this)" class="on"
                               ser_num="{{my_products['data']['serial_num'][i]}}">

                        <input type="button" action = "OFF" value="Выключить" onclick="actionCommand(this)" class="off"
                               ser_num="{{my_products['data']['serial_num'][i]}}">
                    </div>
                    {%else%}
                    <div class="input-on-off">
                        <input type="text" value="Включить" class="on1" style="text-align: center;" readonly
                               ser_num="{{my_products['data']['serial_num'][i]}}">

                        <input type="text" value="Выключить" class="off1" style="text-align: center;" readonly
                               ser_num="{{my_products['data']['serial_num'][i]}}">
                    </div>
                    {% endif %}
                </div>
                {% endfor %}

            </div>

        </section>

    </div>




</div>


{% endblock %}

<script src="/static/js/base.js"></script>
<script src="/static/js/clients/my_products.js"></script>
<script>
    var xhttp = new XMLHttpRequest();

    function actionCommand(e) {
        let action = {
            'serial_num': e.getAttribute('ser_num'),
            'action_requested' : e.getAttribute('action')
        }
        xhttp.open('POST', '/clients/my_products/socket/action', true);
        xhttp.setRequestHeader("Content-type", "application/json; charset=UTF-8");
        xhttp.send(JSON.stringify(action));
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // let resp = JSON.parse(this.responseText);
                console.log(this.responseText)
            }
        }
    }

</script>
</body>

</html>
