<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/clients/my_product.css">

    {% endblock %}
</head>

<body class="background-color">
{% block body %}

<div class="fixed">
    <button type="button" onclick="glavniyStranisa()" class="glavni-stranisa">Fido<p>Electronics</p></button>
    <button type="button" onclick="Logout()" class="glavni-stranisa viyti">Выйти</button>
</div>
<br>

<section>
    <h1 class="h1-my-product">Мой продукт</h1>
</section>

<!--  Информация о товаре и Все время open -->
<section class="information-all-time">
<!--    Информация о товаре open-->
    <button class="show-modal">
        <p>Информация о товаре</p>
    </button>

    <div id="containerModal" class="container modal hidden">
        <button class="close-modal">&times;</button>

        <div class="header">
            <h2>Введите пароль</h2>
        </div>

        <div class="form">
            <div class="form-control1">
                <label for="forInfoPass">Пароль</label>
                <input type="password" id="forInfoPass" class="password" placeholder="введите пароль" required>
                <input type="button" value="Info Product" onclick="OpenNewModal()" class="delete-product">
            </div>
        </div>
    </div>
    <div id="overlay" class="overlay hidden"></div>
    <!--    Информация о товаре close-->

<!--    Все время open-->
    <div class="information-on-of">
        <button type="button" class="information-input" id="all_time_input"
                ser_num="{{my_product['data']['serial_num'][0]}}" prefix="{{my_product['data']['prefix'][0]}}">
        </button>
    </div>
    <!--    Все время close-->
</section>
<!--  Информация о товаре и Все время close -->


<!--Удалить мой продукт modal description img open -->
<section class="description-img-section" style="position:relative;" >

    <!--    img open -->
    <div class="onof-div">
        {% for i in range(my_product['data']['photo']|length)%}
        <div class="all-products">
            <div class="ONOF"></div>
            <div class="img-div">
                <span>{{my_product['data']['description'][i]}}</span>

                <img src="{{my_product['data']['photo'][i]}}" class="socket-img"
                     ser_num="{{my_product['data']['serial_num'][i]}}" prefix="{{my_product['data']['prefix'][i]}}"
                     alt="img">
            </div>

            {% if my_product['data']['product_id'][i] == 1 %}
            <div class="input-on-off">
                <input type="button" action="ON" value="Включить" onclick="actionCommand(this)" class="on"
                       ser_num="{{my_product['data']['serial_num'][i]}}">

                <input type="button" action="OFF" value="Выключить" onclick="actionCommand(this)" class="off"
                       ser_num="{{my_product['data']['serial_num'][i]}}">
            </div>
            {% endif %}
        </div>
        {%endfor%}
    </div>
    <!--    img close -->

    <!--Дата начала Дата окончания open-->
    <div class="delete-product-div1" >
        <form action="{{url_for('clients.my_products.my_product.get_logs', ser_num=my_product['data']['serial_num'][0])}}"
              class="delete-product-form" id="data_form" method="post"
              ser_num="{{my_product['data']['serial_num'][0]}}">
            <div class="description-header">
                <h2>Список записи</h2>
            </div>
            <input type="hidden" value="{{my_product['data']['product_id'][0]}}">
            <input type="hidden" name="prefix" value="{{my_product['data']['prefix'][0]}}" id="hidden_input2">
            <div class="a">
                <label for="start_date">Дата начала</label>
                <input type="datetime-local" name="start_date" value="" id="start_date" required>
            </div>
            <div class="a">
                <label for="end_date">Дата окончания</label>
                <input type="datetime-local" name="end_date" value="" id="end_date" required>
            </div>

            <div class="a">
                <input type="submit" id="date_submit" class="add-type-submit4" value="Добавить">
            </div>
        </form>
        <div id="containerModal3" class="container3 modal3 hidden3">
            <button class="close-modal4">&times;</button>

            <div class="header header3">
                <h2>Дата начала и окончания</h2>
            </div>
            <div class="start-end-date">
                <table class="table-date">
                    <thead id="thead_data">
                    <tr id="thead_tr">
                        <th>Включить и Выключить</th>
                        <th>Дата начала и окончания</th>
                    </tr>
                    </thead>

                    <tbody id="tbody_date">

                    </tbody>
                </table>
            </div>
        </div>
        <div id="overlay3" class="overlay3 hidden3"></div>
    </div>
    <!--Дата начала Дата окончания close-->


    <!--Удалить мой продукт modal open description-->
    <div class="description-container">

        <div class="description-header">
            <h2>Измените описание!</h2>
        </div>

        <form action="{{url_for('clients.my_products.my_product.get_my_product', ser_num=my_product['data']['serial_num'][0])}}"
              method="post"
              class="description-form" id="description_form">
            <div class="description-form-control">
                <input type="hidden" name="ser_num" id="ser_num" value="{{my_product['data']['serial_num'][0]}}"/>

                <label for="desc">Описание</label>
                <textarea type="text" name="desc" id="desc">{{my_product['data']['description'][0]}}</textarea>
            </div>

            <input type="submit" class="add-type-submit2" value="Сохранить"/>
            <button type="button" class="delete-product-button add-type-submit2">
                <p>Удалить мой продукт</p>
            </button>
        </form>
    </div>
    <!--Удалить мой продукт modal close description-->

</section>
<!--Удалить мой продукт modal description img close -->


<!--Удалить мой продукт modal open-->
<section>
    <div class="container1 modal1 hidden1">
        <button class="close-modal1">&times;</button>

        <div class="header">
            <h2>Введите пароль</h2>
        </div>

        <div class="delete-product-div">
            <form action="{{url_for('clients.my_products.my_product.delete_product', ser_num=my_product['data']['serial_num'][0])}}"
                  id="delete_form" method="post">
                <label class="for_delete_label" for="for_delete_input">Пароль</label>
                <input type="password" name="password" id="for_delete_input" placeholder="введите пароль" required>
                <input type="submit" value="Потдвердить" class="add-type-submit2 delete-product">
            </form>
        </div>
    </div>
    <div class="overlay1 hidden1"></div>
</section>
<!--Удалить мой продукт modal close-->






{% endblock %}

<script src="/static/js/base.js"></script>
<script src="/static/js/clients/my_product.js"></script>
<script src="/static/js/clients/s_worker.js"></script>
<script src="/static/js/clients/s_worker2.js"></script>
<script>

</script>
</body>

</html>