<!DOCTYPE html>
<html>
<head>
    {% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Fido Electronics</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/clients/my_products.css">


    {% endblock %}
</head>

<body class="background-color">

{% block body %}
<div class="fixed">
    <a href="#">
        <button type="button" onclick="glavniyStranisa()" class="glavni-stranisa">Fido<p>Electronics</p></button>
    </a>
    <button type="button" onclick="Logout()" class="glavni-stranisa viyti">Выйти</button>
</div>
<div class="full-container">
    <div class="container">
        <section>
            <button class="show-modal">
                <img src="../../static/img/add_img.svg" class="add-img" alt="">
                <p>ДОБАВИТЬ ПРОДУКТ</p>
            </button>
        </section>
    </div>

    <div class="containerr modal hidden">
        <button class="close-modal">&times;</button>
        <a href="#" class="close-modal-localStorage">&times;</a>

        <div class="header">
            <h2>Добавить продукт</h2>
        </div>

        <form action="{{url_for('clients.my_products.get_my_products')}}" method="post" class="form" id="form">


            <div class="form-control">

                <label for="ser_num">Введите серийный номер</label><span style="color: red; font-size: 16px">*</span>
                <input type="text" id="ser_num" name="ser_num" required>
            </div>

            <div class="form-control">
                <label for="desc">Описание (необязательно)</label>
                <textarea type="text" id="desc" name="desc"></textarea>

            </div>

            <div class="buttons">
                <input type="submit" value="Сохранить" class="add-type-submit">
                <input type="button" value="Отмена" class="add-type-submit2 close-modal2">
                <a href="#" class="close-modal3">Отмена</a>
            </div>
        </form>
    </div>
    <div class="overlay hidden"></div>

    <div class="container">

        <section>

            <div class="all-products-content">
                {% for i in range(my_products['data']['serial_num']|length)%}
                <div class="all-products">

                    <div class="parent-curr-state"></div>
                    <div class="img-div">
                        <span>
                           <p class="description">{{my_products['data']['description'][i]}}</p>
                            <span class="character" style="display: none"></span>
                        </span>

                        <img src="{{my_products['data']['photo'][i]}}" class="my-products-img"
                             ser_num="{{my_products['data']['serial_num'][i]}}"
                             id="{{my_products['data']['product_id'][i]}}"
                             prefix="{{my_products['data']['prefix'][i]}}" device_type="{{my_products['data']['device_type'][i]}}" onclick="productImg(this)" >
                        <a onclick="goSocket(this)">Подробно</a>
                    </div>

                    {% if my_products['data']['product_id'][i] == 1 or my_products['data']['product_id'][i] == 2%}
                    <div class="input-on-off">
                        <input type="button" action="ON" value="Включить" onclick="actionCommand(this)" class="on"
                               ser_num="{{my_products['data']['serial_num'][i]}}">

                        <input type="button" action="OFF" value="Выключить" onclick="actionCommand(this)" class="off"
                               ser_num="{{my_products['data']['serial_num'][i]}}">
                    </div>
                    {% elif my_products['data']['product_id'][i] == 8 %}
                    <div class="input-on-off">
                        <input type="button" action="ON" value="Закрыть" onclick="actionCommand(this)" class="on"
                               ser_num="{{my_products['data']['serial_num'][i]}}">

                        <input type="button" action="OFF" value="Открыть" onclick="actionCommand(this)" class="off"
                               ser_num="{{my_products['data']['serial_num'][i]}}">
                    </div>
                    {% elif my_products['data']['product_id'][i] == 10 %}
                    <div class="input-on-off">
                        <button type="button" action_left="" onclick="socket3Way(this)" class="on socket3"
                                ser_num="{{my_products['data']['serial_num'][i]}}"></button>

                        <button type="button" action_center="" onclick="socket3Way(this)" class="off socket3"
                                ser_num="{{my_products['data']['serial_num'][i]}}"></button>

                        <button type="button" action_right="" onclick="socket3Way(this)" class="off socket3"
                                ser_num="{{my_products['data']['serial_num'][i]}}"></button>
                    </div>
                    {% elif my_products['data']['product_id'][i] == 11 %}
                    <div class="input-on-off">
                        <button type="button" style="width: 100%;" onclick="actionCommand(this)" class="on"
                                ser_num="{{my_products['data']['serial_num'][i]}}" action="ON">Налить воду</button>
                    </div>
                    {%else%}
                    <div class="input-on-off"></div>
                    {% endif %}
                </div>
                {% endfor %}

            </div>

        </section>

    </div>


</div>


{% endblock %}

<script src="/static/js/base.js"></script>
<script src="/static/js/clients/my_products.js"></script>
<script src="/static/js/clients/socket_worker.js"></script>
</body>

</html>
