<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/clients/my_product.css">

    {% endblock %}
</head>

<body class="background-color">
{% block body %}
<div class="fixed">
    <button type="button" onclick="glavniyStranisa()" class="glavni-stranisa">Fido<p>Electronics</p></button>
    <button type="button" onclick="Logout()" class="glavni-stranisa viyti">Выйти</button>
</div>
<br>
<section>
    <h1 class="h1-my-product">Мой продукт</h1>
</section>


<section>
    <button class="show-modal">
        <p>Информация о товаре</p>
    </button>
</section>

<div class="container modal hidden">
    <button class="close-modal">&times;</button>

    <div class="header">
        <h2>Информация о товаре</h2>
    </div>

    <div class="form">

        <div class="form-control">
            <label for="serial_num">Серийный номер</label>
            <div id="serial_num" class="information">{{my_product['data']['serial_num'][0]}}</div>

            <label for="default_login">Default Login</label>
            <div id="default_login" class="information">{{my_product['data']['default_login'][0]}}</div>

            <label for="default_password">Логин по умолчанию</label>
            <div id="default_password" class="information">{{my_product['data']['default_password'][0]}}</div>

            <label for="ap_login">Логин Ap</label>
            <div id="ap_login" class="information">{{my_product['data']['ap_login'][0]}}</div>

            <label for="ap_password">Пароль Ap</label>
            <div id="ap_password" class="information">{{my_product['data']['ap_password'][0]}}</div>
        </div>

        <div class="buttons">
            <input type="button" value="Отмена" class="add-type-submit2 close-modal2">
        </div>
    </div>
</div>
<div class="overlay hidden"></div>

<section class="description-img-section">
    {% for i in range(my_product['data']['photo']|length)%}
    <div class="all-products">
        <div class="img-div">
            <span>{{my_product['data']['description'][i]}}</span>
            <img src="{{my_product['data']['photo'][i]}}" alt="img">
        </div>
    </div>
    {%endfor%}


    <div class="description-container">
        <div class="description-header">
            <h2>Измените описание!</h2>
        </div>

        <form action="{{url_for('clients.my_product', ser_num=my_product['data']['serial_num'][0])}}" method="post"
              class="description-form" id="description_form">
            <div class="description-form-control">
                <input type="hidden" name="ser_num" id="ser_num" value="{{my_product['data']['serial_num'][0]}}"/>

                <label for="desc">Описание</label>
                <textarea type="text" name="desc" id="desc">{{my_product['data']['description'][0]}}</textarea>
            </div>

            <input type="submit" class="add-type-submit" value="Сохранить"/>
        </form>
    </div>
</section>

<section>
    <div class="delete-product-div">
        <form action="{{url_for('clients.delete_product', ser_num=my_product['data']['serial_num'][0])}}" method="post">
            <input type="submit" value="Delete Product" class="delete-product">
        </form>
    </div>
</section>


{% endblock %}

<script src="/static/js/base.js"></script>
<script src="/static/js/clients/my_product.js"></script>
</body>

</html>