<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fido Electronics</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/clients/my_product.css">

    {% endblock %}
</head>

<body class="background-color">
{% block body %}

<div class="fixed">
    <a href="#">
    <button type="button" onclick="glavniyStranisa()" class="glavni-stranisa">Fido<p>Electronics</p></button>
    </a>
    <div class="viyti-get-my-products">
        <button type="button" onclick="Logout()" class="glavni-stranisa viyti">Выйти</button>
        <button type="button" onclick="myProducts()" class="get-my-products">Мои продукты</button>
    </div>
</div>
<br>
<section>
    <h1 class="h1-my-product">Данные устройства</h1>
</section>

<!--  Информация о товаре и Все время open -->
<section class="information-all-time">

    <!--    tuvak open-->
    {% for i in range(my_product['data']['photo']|length)%}
    {% if my_product['data']['product_id'][i] == 11 %}
    <div class="flower-pot-time-div">
        <span class="flower-pot-text"> Температура</span>
        <div class="flower-pot-time" id="flower_pot_time0"
             ser_num="" prefix="{{my_product['data']['prefix'][0]}}">
            26.7°
        </div>
    </div>

    <div class="flower-pot-time-div">
        <span class="flower-pot-text">Влажность почвы</span>
        <div class="flower-pot-time" id="flower_pot_time1"
             ser_num="" prefix="{{my_product['data']['prefix'][0]}}">
            77.1 %
        </div>
    </div>

    <div class="flower-pot-time-div">
        <span class="flower-pot-text">Влажность воздуха</span>
        <div class="flower-pot-time" id="flower_pot_time2"
             ser_num="" prefix="{{my_product['data']['prefix'][0]}}">
            58.9 %
        </div>
    </div>
    {%endif%}
    {%endfor%}
    <!--    tuvak close-->

    <!--    Все время open-->
    <div class="information-on-of">
        <span class="esp-get-time">Время последного известия от устройства</span>
        <div class="information-input" id="all_time_input"
             ser_num="{{my_product['data']['serial_num'][0]}}" prefix="{{my_product['data']['prefix'][0]}}">
        </div>
    </div>
    <!--    Все время close-->

    <!--    configuration open-->
    <button class="show-modal">
        <p>Конфигурации</p>
    </button>

    <div id="containerModal" class="container modal hidden">
        <button class="close-modal">&times;</button>

        <div class="header">
            <h2>Введите пароль</h2>
        </div>

        <div class="form">
            <div class="form-control1">
                <label for="forInfoPass">Пароль</label>
                <input type="password" id="forInfoPass" class="password" placeholder="Введите пароль" required>
                <input type="button" value="Подтвердить" onclick="OpenNewModal()" class="delete-product">
            </div>
        </div>
    </div>
    <div id="overlay" class="overlay hidden"></div>
    <!--   configuration close-->

    <!--    Информация о товаре open-->
        <a href="{{url_for('clients.my_products.setup_info')}}" style="text-decoration: none;" class='all_information'>
          <p>Инструкции по подключению</p>
        </a>
    <!--    Информация о товаре close-->

</section>
<!--  Информация о товаре и Все время close -->

<!--Удалить мой продукт modal description img open -->
<section class="description-img-section" style="position:relative;" >

    <!--    img open -->
    <div class="onof-div">
        {% for i in range(my_product['data']['photo']|length)%}
        <div class="all-products">
            <div class="parent-curr-state"></div>
            <div class="img-div">
                <span>
                    <p style="font-size: 13px">{{my_product['data']['description'][i]}}</p>
                    <span class="character12" id="character_id" onclick="characterOtmen(this)" ser_num="{{my_product['data']['serial_num'][i]}}"></span>
                </span>

                <img src="{{my_product['data']['photo'][i]}}" class="socket-img" id="{{my_product['data']['product_id'][i]}}"
                     ser_num="{{my_product['data']['serial_num'][i]}}" prefix="{{my_product['data']['prefix'][i]}}"
                     alt="img">
            </div>

            {% if my_product['data']['product_id'][i] == 1 or my_product['data']['product_id'][i] == 2 %}
            <div class="input-on-off">
                <input type="button" action="ON" value="Включить" onclick="actionCommand(this)" class="on"
                       ser_num="{{my_product['data']['serial_num'][i]}}">

                <input type="button" action="OFF" value="Выключить" onclick="actionCommand(this)" class="off"
                       ser_num="{{my_product['data']['serial_num'][i]}}">
            </div>
            {% elif my_product['data']['product_id'][i] == 8 %}
            <div class="input-on-off">
                <input type="button" action="ON" value="Закрыть" onclick="actionCommand(this)" class="on"
                       ser_num="{{my_product['data']['serial_num'][i]}}">

                <input type="button" action="OFF" value="Открыть" onclick="actionCommand(this)" class="off"
                       ser_num="{{my_product['data']['serial_num'][i]}}">
            </div>
            {% elif my_product['data']['product_id'][i] == 10 %}
            <div class="input-on-off">
                <button type="button" action_left="" onclick="socket3Way(this)" class="on socket3"
                        ser_num="{{my_product['data']['serial_num'][i]}}"></button>

                <button type="button" action_center="" onclick="socket3Way(this)" class="off socket3"
                        ser_num="{{my_product['data']['serial_num'][i]}}"></button>

                <button type="button" action_right="" onclick="socket3Way(this)" class="off socket3"
                        ser_num="{{my_product['data']['serial_num'][i]}}"></button>
            </div>
            {% elif my_product['data']['product_id'][i] == 11 %}
            <div class="input-on-off">
                <button type="button" style="width: 100%;" onclick="Tuvak(this)" class="on"
                        ser_num="{{my_product['data']['serial_num'][i]}}">Tuvak</button>
            </div>
            {%else%}
            <div class="input-on-off"></div>
            {% endif %}
        </div>
        {%endfor%}
    </div>
    <!--    img close -->

    <!--Удалить мой продукт modal open description-->
    <div class="description-container">

        <div class="description-header">
            <h2>Изменить описание</h2>
        </div>

        <form action="{{url_for('clients.my_products.my_product.get_my_product', ser_num=my_product['data']['serial_num'][0])}}"
              method="post"
              class="description-form" id="description_form">
            <div class="description-form-control">
                <input type="hidden" name="ser_num" id="ser_num" value="{{my_product['data']['serial_num'][0]}}"/>

                <label for="desc">Описание</label>
                <textarea type="text" name="desc" id="desc">{{my_product['data']['description'][0]}}</textarea>
            </div>

            <input type="submit" class="add-type-submit2" value="Сохранить"/>
            <button type="button" class="delete-product-button add-type-submit2">
                <p>Удалить мой продукт</p>
            </button>
        </form>
    </div>
    <!--Удалить мой продукт modal close description-->

    <!--Дата начала Дата окончания open-->
    <div class="delete-product-div1" >
        <form action="{{url_for('clients.my_products.my_product.get_logs', ser_num=my_product['data']['serial_num'][0])}}"
              class="delete-product-form" id="data_form" method="post"
              ser_num="{{my_product['data']['serial_num'][0]}}">
            <div class="description-header">
                <h2>Список логов</h2>
            </div>
            <input type="hidden" value="{{my_product['data']['product_id'][0]}}">
            <input type="hidden" name="prefix" value="{{my_product['data']['prefix'][0]}}" id="hidden_input2">
            <div class="a">
                <label for="start_date">Дата начала</label>
                <input type="date" name="start_date" id="start_date" onchange="changeInput()" required>
            </div>
            <div class="a">
                <label for="end_date">Дата окончания</label>
                <input type="date" name="end_date" id="end_date" required>
            </div>

            <div class="a">
                <input type="submit" id="date_submit" class="add-type-submit4" value="Получить">
            </div>
        </form>

        <div id="containerModal3" class="container3 modal3 hidden3">
            <button class="close-modal4">&times;</button>

            <div class="header header3">
                <h2>Логи</h2>
            </div>
            <div class="start-end-date">
                <table class="table-date">
                    <thead id="thead_data">
                    <tr id="thead_tr">
                        <th>Действия</th>
                        <th>Дата</th>
                    </tr>
                    </thead>

                    <tbody id="tbody_date">

                    </tbody>
                </table>
            </div>
        </div>
        <div id="overlay3" class="overlay3 hidden3"></div>
    </div>
    <!--Дата начала Дата окончания close-->

</section>
<!--Удалить мой продукт modal description img close -->


<!--Удалить мой продукт modal open-->
<section>
    <div class="container1 modal1 hidden1">
        <button class="close-modal1">&times;</button>

        <div class="header">
            <h2>Введите пароль</h2>
        </div>

        <div class="delete-product-div">
            <form action="{{url_for('clients.my_products.my_product.delete_product', ser_num=my_product['data']['serial_num'][0])}}"
                  id="delete_form" method="post">
                <label class="for_delete_label" for="for_delete_input">Пароль</label>
                <input type="password" name="password" id="for_delete_input" placeholder="Введите пароль" required>
                {% if wrong_password %}
                <small id="error-small2">Неверный пароль</small>
                {% endif %}
                <input type="submit" value="Потдвердить" class="add-type-submit2 delete-product">
            </form>
        </div>
    </div>
    <div class="overlay1 hidden1"></div>
</section>
<!--Удалить мой продукт modal close-->






{% endblock %}

<script src="/static/js/base.js"></script>
<script src="/static/js/clients/my_product.js"></script>
<script src="/static/js/clients/s_worker.js"></script>
<script src="/static/js/clients/s_worker2.js"></script>
<script>

</script>
</body>

</html>
