{% extends 'base.html' %}

{% block head %}
<title>Fido Electronics</title>
{{super()}}

<link rel="stylesheet" href="/static/css/clients/register.css">

{% endblock %}

{% block body %}
{{ super() }}
<div style="position:relative;">
<div class="add-container">

    <nav class="auth">
        <div class="login" id="login_open">Логин</div>
        <div class="signup selected" id="register_open">Регистрация</div>
    </nav>

    <form action="{{url_for('clients.register')}}" method="POST" id="myForm" class="add-form"
          onsubmit="return validateForm()">

        <div class="form-control">

            <label for="first_name">Имя<span class="star">*</span></label>
            <input type="text" name="first_name" id="first_name" placeholder="Введите наименование ..." required/>
            <br>
            <br>
            <label for="last_name">Фамилия<span class="star">*</span></label>
            <input type="text" name="last_name" id="last_name" placeholder="Введите фамилия " required/>
            <br>
            <br>
            <label for="birth_date">Дата рождения<span class="star">*</span></label>
            <input type="date" name="birth_date" id="birth_date" placeholder="Введите Дата рождения ..." required/>
            <br>
            <br>
            <label for="address_1">Адрес<span class="star">*</span></label>
            <input type="text" name="address_1" id="address_1" placeholder="Введите Адрес ..." required/>
            <br>
            <br>
            <label for="city">Город<span class="star">*</span></label>
            <input type="text" name="city" id="city" placeholder="Введите Город ..." required/>

        </div>


        <div class="form-control">

            <label for="phone">Телефон<span class="star">*</span></label>
            <input type="text" name="phone" id="phone" placeholder="Введите Телефон ..." required/>
            <br>
            <br>
            <label for="email">Эл. адрес</label>
            <input type="email" name="email" id="email" placeholder="Введите логин ..." required/>
            <br>
            <br>
            <label for="clientname">Логин<span class="star">*</span></label>
            <input type="text" name="clientname" id="clientname" placeholder="Введите логин ..."
                   onchange="loginChange()" required/>
            <span id="login_error"></span>
            <br>
            <label for="password">Пароль<span class="star">*</span></label>
            <input type="password" name="password" id="password" placeholder="Введите пароль ..." onchange="passwordLength()" required/>
            <span id="error_password"></span>
            <br>
            <label for="confirm_password">Подтвердить пароль<span class="star">*</span></label>
            <input type="password" name="password" id="confirm_password" placeholder="Введите пароль ..." required/>
            <span id="confirm_error_password"></span>

        </div>


        <input type="submit" class="add-submit" id="submit" value="Сохранить"/>
        <input type="button" onclick="otmenFunction()" class="add-submit2" value="Отмена"/>

    </form>

</div>
</div>
<div class="container modal hidden">
    <button class="close-modal">&times;</button>

    <div class="header" id="header">
        <h2 id="h2">Пароль не тот!</h2>
    </div>
</div>
<div class="overlay hidden"></div>

<script src="/static/js/clients/register.js"></script>

{% endblock %}