<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/clients/socket.css">

    {% endblock %}
</head>

<body class="background-color">
{% block body %}
<div class="fixed">
    <button type="button" onclick="glavniyStranisa()" class="glavni-stranisa">Fido<p>Electronics</p></button>
    <button type="button" onclick="Logout()" class="glavni-stranisa viyti">Выйти</button>
</div>
<br>

<section>
    <h1 class="h1-my-product">Мой продукт</h1>
</section>

<section>
    <button class="show-modal">
        <p>Информация о товаре</p>
    </button>
</section>

<div id="containerModal" class="container modal hidden">
    <button class="close-modal">&times;</button>

    <div class="header">
        <h2>Введите пароль</h2>
    </div>

    <div class="form">
        <div class="form-control1">
            <label for="forInfoPass">Пароль</label>
            <input type="password" id="forInfoPass" class="password" placeholder="введите пароль" required>
            <input type="button" value="Info Product" onclick="OpenNewModal()" class="delete-product">
        </div>
    </div>
</div>
<div id="overlay" class="overlay hidden"></div>

<section class="description-img-section">

    <div class="description-container">

        <div class="description-header">
            <h2>Измените описание!</h2>
        </div>

        <form action="{{url_for('clients.my_products.socket.get_my_product', ser_num=my_product['data']['serial_num'][0])}}"
              method="post"
              class="description-form" id="description_form">
            <div class="description-form-control">
                <input type="hidden" name="ser_num" id="ser_num" value="{{my_product['data']['serial_num'][0]}}"/>

                <label for="desc">Описание</label>
                <textarea type="text" name="desc" id="desc">{{my_product['data']['description'][0]}}</textarea>
            </div>

            <input type="submit" class="add-type-submit2" value="Сохранить"/>
            <button type="button" class="delete-product-button add-type-submit2">
                <p>Delete My Product</p>
            </button>
        </form>
    </div>

    {% for i in range(my_product['data']['photo']|length)%}
    <div class="all-products">
        <div class="img-div">
            <span>{{my_product['data']['description'][i]}}</span>
            <img src="{{my_product['data']['photo'][i]}}" alt="img">
        </div>

        {% if my_product['data']['product_id'][i] == 1 %}
        <div class="input-on-off">
            <input type="button" action="ON" value="Включить" onclick="actionCommand(this)" class="on"
                   ser_num="{{my_product['data']['serial_num'][i]}}">

            <input type="button" action="OFF" value="Выключить" onclick="actionCommand(this)" class="off"
                   ser_num="{{my_product['data']['serial_num'][i]}}">
        </div>
        {%else%}
        <div class="input-on-off">
            <input type="text" value="Включить" class="on1" style="text-align: center;" readonly
                   ser_num="{{my_product['data']['serial_num'][i]}}">

            <input type="text" value="Выключить" class="off1" style="text-align: center;" readonly
                   ser_num="{{my_product['data']['serial_num'][i]}}">
        </div>
        {% endif %}
    </div>
    {%endfor%}

</section>


<section>
    <div class="container1 modal1 hidden1">
        <button class="close-modal1">&times;</button>

        <div class="header">
            <h2>Введите пароль</h2>
        </div>

        <div class="delete-product-div">
            <form action="{{url_for('clients.my_products.socket.delete_product', ser_num=my_product['data']['serial_num'][0])}}"
                  id="delete_form" method="post">
                <label class="for_delete_label" for="for_delete_input">Пароль</label>
                <input type="password" name="password" id="for_delete_input" placeholder="введите пароль" required>
                <input type="submit" value="Потдвердить" class="add-type-submit2 delete-product">
            </form>
        </div>
    </div>
    <div class="overlay1 hidden1"></div>
</section>
{{my_product['data']['product_id'][0]}}
<section>
    <div class="delete-product-div">
        <form action="{{url_for('clients.my_products.socket.get_logs', ser_num=my_product['data']['serial_num'][0])}}"
              class="delete-product-form" id="" method="post">
            <input type="hidden" name="product_id" value="{{my_product['data']['product_id'][0]}}">
            <div class="a">
                <label for="start_date">start_date</label>
                <input type="datetime-local" name="start_date">
            </div>
            <div class="a">
                <label for="end_date">end_date</label>
                <input type="datetime-local" name="end_date">
            </div>
            <input type="submit" class="add-type-submit4" value="Add">
        </form>
    </div>
</section>


{% endblock %}

<script src="/static/js/base.js"></script>
<script src="/static/js/clients/socket.js"></script>
<script>
    function actionCommand(e) {
        let action = {
            'serial_num': e.getAttribute('ser_num'),
            'action_requested': e.getAttribute('action')
        }
        xhttp.open('POST', '/clients/my_products/socket/action', true);
        xhttp.setRequestHeader("Content-type", "application/json; charset=UTF-8");
        xhttp.send(JSON.stringify(action));
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // let resp = JSON.parse(this.responseText);
                console.log(this.responseText)
            }
        }
    }
</script>
</body>

</html>