{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/clients/update.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-container">

    <div class="add-header">
        <h2>Новая должность</h2>
    </div>

    <form action="{{ url_for('clients.update', client_id=client_info['data']['client_id']) }}" method="POST" id="myForm"
          class="add-form">

        <div class="form-control">
            <label for="first_name">Наименование</label>
            <input type="text" name="first_name" id="first_name" required
                   value="{{client_info['data']['first_name']}}"/>

            <label for="last_name">Фамилия</label>
            <input type="text" name="last_name" id="last_name" required value="{{client_info['data']['last_name']}}"/>


            <label for="middle_name">Отчество</label>
            <input type="text" name="middle_name" id="middle_name" value="{{client_info['data']['middle_name']}}"/>

            <label for="birth_date">Дата рождения</label>
            <input type="date" name="birth_date" id="birth_date" required
                   value="{{client_info['data']['birth_date']}}"/>
        </div>


        <div class="form-control">

            <label for="address_1">Адрес 1</label>
            <input type="text" name="address_1" id="address_1" required value="{{client_info['data']['address_1']}}"/>

            <label for="address_2">Адрес 2</label>
            <input type="text" name="address_2" id="address_2" value="{{client_info['data']['address_2']}}"/>

            <label for="city">Город</label>
            <input type="text" name="city" id="city" required value="{{client_info['data']['city']}}"/>

            <label for="country">Страна</label>
            <input type="text" name="country" id="country" required value="{{client_info['data']['country']}}"/>

        </div>


        <div class="form-control">

            <label for="zipcode">Индекс</label>
            <input type="text" name="zipcode" id="zipcode" required value="{{client_info['data']['zipcode']}}"/>

            <label for="phone">Телефон</label>
            <input type="text" name="phone" id="phone" required value="{{client_info['data']['phone']}}"/>

            <label for="home_phone">Домашний телефон</label>
            <input type="text" name="home_phone" id="home_phone" value="{{client_info['data']['home_phone']}}"/>

            <label for="email">Электронная почта</label>
            <input type="email" name="email" id="email" value="{{client_info['data']['email']}}"/>

        </div>

        <input type="submit" class="add-submit" value="Сохранить"/>

        <button type="button" onclick="otmenFunction()" class="add-submit2" value="Add">
            Отмена
        </button>

    </form>

</div>

<script src="/static/js/clients/update.js"></script>

{% endblock %}
