{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/unit/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <a class="back-button" href="{{url_for('employees.account')}}">Назад</a>
    <button id="addClick">Добавить</button>
</div>
<h2 class="header-all">Единицы измерения</h2>
<div class="table">
    <table>
        <thead>

        <tr>

            <th class="hidden">ИД</th>

            <th>Наименование</th>

            <th>Действие</th>

        </tr>

        </thead>

        <tbody id="tBody">

        {% for i in range(units['data']['unit_id']|length) %}
        <tr ondblclick="getType(this)">

            <td class="hidden">{{units['data']['unit_id'][i]}}</td>

            <td>{{units['data']['unit'][i]}}</td>

            <td>
                <button onclick="deleteUnit(this)">Удалить</button>
            </td>

        </tr>
        {% endfor %}

        </tbody>

    </table>
</div>


<script src="/static/js/unit/all.js"></script>

{% endblock %}


