{% extends 'base.html' %}

{% block head %}
<title>Новый статус заказа запчастей</title>
{{super()}}

<link rel="stylesheet" href="/static/css/sp_order_status/add.css">


{% endblock %}

{% block body %}
{{super()}}

<div class="container">

    <div class="header">
        <h2>Новый статус заказа запчастей</h2>
    </div>

    <form id="myForm" class="form">

        <div class="form-control">
            <label for="name">Название</label><span class="star">*</span>
            <input type="text" name="name" id="name" required placeholder="Введите название..."/>
        </div>

        <div class="form-control">
            <label for="desc">Описание</label>
            <textarea type="text" name="desc" id="desc" placeholder="Введите описание..."></textarea>
        </div>

        <input type="submit" class="add-type-submit" value="Сохранить"/>

        <input onclick="otmenFunction()" type="button" class="add-type-submit" value="Отмена"/>

    </form>

</div>


<script src="/static/js/sp_order_status/add.js"></script>

{% endblock %}


