{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/sp_order_status/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <button id="addClick">Добавить</button>
</div>

<div class="table">
    <table>
        <thead>

        <tr>

            <th class="hidden">ИД</th>

            <th>Название</th>

            <th>Описание</th>

            <th>Действия</th>

        </tr>

        </thead>


        <tbody id="tBody">

        {% for i in range(sp_order_statuses['data']['status_id']|length) %}
        <tr ondblclick="getType(this)">

            <td class="hidden">{{sp_order_statuses['data']['status_id'][i]}}</td>

            <td>{{sp_order_statuses['data']['name'][i]}}</td>

            <td>{{sp_order_statuses['data']['description'][i]}}</td>

            <td>
                <button onclick="deleteType(this)">Удалить</button>
            </td>

        </tr>
        {% endfor %}

        </tbody>

    </table>
</div>


<script src="/static/js/sp_order_status/all.js"></script>

{% endblock %}


