{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/supplier/get.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-container">
    <div class="add-header">
        <h2>Поставщик</h2>
    </div>
    <div id="myForm" class="add-form">

        <input type="hidden" id="supplier_id" value="{{supplier_info['data']['supplier_id']}}">


        <div class="form-control">
            <label for="name">Наименование</label>
            <input type="text" id="name" readonly
                   value="{{supplier_info['data']['name']}}"/>

            <label for="address_1">Адрес 1</label>
            <input type="text" id="address_1" readonly
                   value="{{supplier_info['data']['address_1']}}"/>

            <label for="address_2">Адрес 2</label>
            <input type="text" id="address_2" readonly
                   value="{{supplier_info['data']['address_2']}}"/>

            <label for="city">Город</label>
            <input type="text" id="city" readonly
                   value="{{supplier_info['data']['city']}}"/>

            <label for="country">Страна</label>
            <input type="text" id="country" readonly
                   value="{{supplier_info['data']['country']}}"/>
        </div>


        <div class="form-control">
            <label for="zipcode">Индекс</label>
            <input type="text" id="zipcode" readonly
                   value="{{supplier_info['data']['zipcode']}}"/>

            <label for="phone">Телефон</label>
            <input type="text" id="phone" readonly
                   value="{{supplier_info['data']['phone']}}"/>

            <label for="email">Электронная почта</label>
            <input type="text" id="email" readonly
                   value="{{supplier_info['data']['email']}}"/>

            <label for="website">Веб сайт</label>
            <input type="text" id="website" readonly
                   value="{{supplier_info['data']['website']}}"/>

            <label for="geo_location">Местоположение</label>
            <input type="text" id="geo_location" readonly
                   value="{{supplier_info['data']['geo_location']}}"/>
        </div>


        <button onclick="updateSupp()" class="add-submit">
            Изменить
        </button>

        <button onclick="deleteSupp()" class="add-submit2">
            Удалить
        </button>

        <button onclick="otmenFunction()" class="add-submit3">
            Назад
        </button>
    </div>
</div>


<script src="/static/js/supplier/get.js"></script>

{% endblock %}


