{% extends 'base.html' %}

{% block head %}
<title>Изменить данные поставщика</title>
{{super()}}

<link rel="stylesheet" href="/static/css/supplier/supplier_base.css">
<link rel="stylesheet" href="/static/css/supplier/update.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-container">

    <div class="add-header">
        <h2>Изменить данные поставщика</h2>
    </div>

    <form class="add-form"
          action="{{ url_for('supplier.update', supplier_id=supplier_info['data']['supplier_id']) }}"
          method="POST">

        <div class="form-control">
             <label for="address_1">Адрес 1</label>
            <input type="text" name="address_1" id="address_1"
                   value="{{supplier_info['data']['address_1']}}"/>

            <label for="address_2">Адрес 2</label>
            <input type="text" name="address_2" id="address_2"
                   value="{{supplier_info['data']['address_2']}}"/>

            <label for="city">Город</label>
            <input type="text" name="city" id="city"
                   value="{{supplier_info['data']['city']}}"/>

            <label for="country">Страна</label>
            <input type="text" name="country" id="country"
                   value="{{supplier_info['data']['country']}}"/>

            <label for="zipcode">Почтовый индекс</label>
            <input type="text" name="zipcode" id="zipcode"
                   value="{{supplier_info['data']['zipcode']}}"/>

        </div>


        <div class="form-control">
            <label for="phone">Телефон</label>
            <input type="text" name="phone" id="phone"
                   value="{{supplier_info['data']['phone']}}"/>

            <label for="email">Электронная почта</label>
            <input type="email" name="email" id="email"
                   value="{{supplier_info['data']['email']}}"/>

            <label for="website">Веб сайт</label>
            <input type="text" name="website" id="website"
                   value="{{supplier_info['data']['website']}}"/>

            <label for="geo_location">Гео локация</label>
            <input type="text" name="geo_location" id="geo_location"
                   value="{{supplier_info['data']['geo_location']}}"/>
        </div>


        <input type="submit" class="add-submit" value="Сохранить"/>

        <button type="button" onclick="otmenFunction()"
                class="add-submit2" value="Отмена">
            Отмена
        </button>

    </form>

</div>

<script src="/static/js/supplier/update.js"></script>

{% endblock %}


