.add-container {
    width: 45rem;
    height: 500px;
}

.add-form {
    width: 80%;
    height: 83%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -60px;
}

.form-control label {
    padding-left: 14px;
    margin-bottom: 0;
}

.form-control input, select {
    width: 250px;
    height: 40px;
    margin: 10px;
}

.add-submit, .add-submit2, .add-submit3 {
    width: 20%;
    position: absolute;
    bottom: 4px;
}

.add-submit {
    left:23%;
}

.add-submit2 {
    left:55%;
}
