.add-container {
    width: 400px;
}

.add-header h2 {
    margin: 0;
}

.add-form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    margin-bottom: 0;
}

.form-control input, select {
    width: 100%;
}

.add-submit, .add-submit2, .add-submit3 {
    width: 100%;
}
