{% extends 'base.html' %}

{% block head %}
<title>Новая доставка заказа</title>
{{super()}}

<link rel="stylesheet" href="/static/css/sp_logistic/add.css">


{% endblock %}

{% block body %}
{{super()}}

<div class="add-container">
    <div class="add-header">
        <h2>Новая доставка заказа</h2>
    </div>

    <form id="myForm" class="add-form">

        <div class="form-control">
            <label for="carrier_id">Доставщик</label>
            <select name="carrier_id" id="carrier_id" onchange="getTrStatusByCarrId()" required>
                <option hidden value="" selected disabled>--Выбрать--</option>
                {% for i in range(carriers_ids['data']['carrier_id']|length)%}
                <option value="{{carriers_ids['data']['carrier_id'][i]}}">{{carriers_ids['data']['name'][i]}}</option>
                {%endfor%}
            </select>

            <label for="total_cost">Общая стоимость</label>
            <input type="number" name="total_cost" id="total_cost" required
                   placeholder="Введите общая стоимость..."/>

            <label for="curr_id">Валюта</label>
            <select name="curr_id" id="curr_id" required>
                <option hidden value="" selected disabled>--Выбрать--</option>
                {% for i in range(currencies_ids['data']['curr_id']|length)%}
                <option value="{{currencies_ids['data']['curr_id'][i]}}">{{currencies_ids['data']['currency'][i]}}
                </option>
                {%endfor%}
            </select>
        </div>

        <div class="form-control">
            <label for="shipping_type_id">Тип доставки</label>
            <select name="shipping_type_id" id="shipping_type_id" required>
                <option hidden value="" selected disabled>--Выбрать--</option>
                {% for i in range(shipping_types_ids['data']['shipping_type_id']|length)%}
                <option value="{{shipping_types_ids['data']['shipping_type_id'][i]}}">
                    {{shipping_types_ids['data']['name'][i]}}
                </option>
                {%endfor%}
            </select>

            <label for="tr_number">Номер отслеживания</label>
            <input type="text" name="tr_number" id="tr_number" required
                   placeholder="Введите номер отслеживания..."/>

            <label for="tr_status_id">Статус отслеживания</label>
            <select name="tr_status_id" id="tr_status_id" required>
                <option hidden id="default_status" value="" selected='selected' disabled>--Выбрать--</option>
                {% for i in range(tracking_statuses_ids['data']['status_id']|length)%}
                <option carrier_id = "{{tracking_statuses_ids['data']['carrier_id'][i]}}" value="{{tracking_statuses_ids['data']['status_id'][i]}}">
                    {{tracking_statuses_ids['data']['status'][i]}}
                </option>
                {%endfor%}
            </select>
        </div>

        <div class="form-control">
            <label for="shipped_date">Дата отправки</label>
            <input type="date" name="shipped_date" id="shipped_date" required/>

            <label for="delivered_date">Дата доставки</label>
            <input type="date" name="delivered_date" id="delivered_date" required/>

            <label for="comment">Комментарий</label>
            <textarea type="text" name="comment" id="comment"
                   placeholder="Введите комментарий..."></textarea>
        </div>

        <input type="submit" class="add-submit" value="Сохранить"/>

        <input onclick="otmenFunction()" type="button" class="add-submit2" value="Отмена"/>

    </form>
</div>


<script src="/static/js/sp_logistic/add.js"></script>

{% endblock %}


