{% extends 'base.html' %}

{% block head %}
{{super()}}

<!-- <link rel="stylesheet" href="/static/css/employees/department/add.css"> -->
<!-- <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css"> -->



{% endblock %}

{% block body %}
{{super()}}
{{carriers_ids}}
{{currencies_ids}}
{{shipping_types_ids}}
{{tracking_statuses_ids}}

<div class="container">
    <div class="header">
        <h2>Новая должность</h2>
    </div>
    <form id="myForm" class="form" action="{{url_for('sp_logistic.add')}}" method="POST">

        <div class="form-control">
            <label for="carrier_id">carrier_id</label>
            <input type="text" name="carrier_id" id="carrier_id" placeholder="Введите описание..."/>
        </div>

        <div class="form-control">
            <label for="total_cost">total_cost</label>
            <input type="number" name="total_cost" id="total_cost" placeholder="Введите описание..."/>
        </div>

        <div class="form-control">
            <label for="curr_id">curr_id</label>
            <input type="text" name="curr_id" id="curr_id" placeholder="Введите описание..."/>
        </div>

        <div class="form-control">
            <label for="shipping_type_id">shipping_type_id</label>
            <input type="text" name="shipping_type_id" id="shipping_type_id" placeholder="Введите описание..."/>
        </div>

        <div class="form-control">
            <label for="tr_number">tr_number</label>
            <input type="text" name="tr_number" id="tr_number" placeholder="Введите описание..."/>
        </div>

        <div class="form-control">
            <label for="tr_status_id">tr_status_id</label>
            <input type="text" name="tr_status_id" id="tr_status_id" placeholder="Введите описание..."/>
        </div>

        <div class="form-control">
            <label for="shipped_date">shipped_date</label>
            <input type="date" name="shipped_date" id="shipped_date" placeholder="Введите описание..."/>
        </div>

        <div class="form-control">
            <label for="delivered_date">delivered_date</label>
            <input type="date" name="delivered_date" id="delivered_date" placeholder="Введите описание..."/>
        </div>

        <div class="form-control">
            <label for="comment">comment</label>
            <input type="text" name="comment" id="comment" placeholder="Введите описание..."/>
        </div>

        <input type="submit" class="add-type-submit" value="Сохранить"/>
        <input onclick="otmenFunction()" type="button" class="add-type-submit" value="Отмена"/>

    </form>
</div>



<!-- <script src="/static/js/employees/department/add.js"></script> -->

{% endblock %}


