{% extends 'base.html' %}

{% block head %}
<title>Доставки заказов</title>
{{super()}}

<link rel="stylesheet" href="/static/css/sp_logistic/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <a class="back-button" href="{{url_for('sp_logistic.sp_logistic_page')}}">Назад</a>
    <button id="addClick">Добавить</button>
</div>
<h2 class="header-all">Доставки заказов</h2>
<div class="table">
    <table>
        <thead>

        <tr>

            <th>ИД</th>

            <th>Доставщик</th>

            <th>Валюта</th>

            <th>Тип доставки</th>

            <th>Статус отслеживания</th>

            <th>Действие</th>

        </tr>

        </thead>


        <tbody id="tBody">

        {% for i in range(sp_logistics['data']['shipment_id']|length) %}
        <tr ondblclick="getType(this)">

            <td>{{sp_logistics['data']['shipment_id'][i]}}</td>

            <td>{{carriers_ids['data'][sp_logistics['data']['carrier_id'][i]]}}</td>

            <td>{{currencies_ids['data'][sp_logistics['data']['curr_id'][i]]}}</td>

            <td>{{shipping_types_ids['data'][sp_logistics['data']['shipping_type_id'][i]]}}</td>

            <td>{{tracking_statuses_ids['data'][sp_logistics['data']['tr_status_id'][i]]}}</td>

            <td>
                <button onclick="deleteType(this)">Удалить</button>
            </td>

        </tr>
        {% endfor %}

        </tbody>

    </table>
</div>


<script src="/static/js/sp_logistic/all.js"></script>

{% endblock %}


