{% extends 'base.html' %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/css/sp_logistic/sp_logistic.css">
{% endblock %}

{% block body %}
{{super()}}


<div style="width: 100%; text-align: center; margin-top: 1%">
    <h1>Доставки</h1>
</div>

<div class="menu">

    <ul>
        <li><a href="{{url_for('carrier.all')}}">Доставщики запчастей</a></li>
        <li><a href="{{url_for('shipping_type.all')}}">Виды доставки</a></li>
        <li><a href="{{url_for('tracking_status.all')}}">Статусы отслеживания</a></li>
        <li><a href="{{url_for('sp_logistic.all')}}">Информация о доставке</a></li>
        <li><a href="{{url_for('employees.orders_page')}}" style="color: #bbb6b6; font-weight: bold">Назад</a></li>
    </ul>

</div>


<script src="/static/js/sp_logistic/sp_logistic.js"></script>
{% endblock %}