{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/products/dealer/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <button id="addClick">Добавить</button>
</div>

<div class="table">
    <table>
        <thead>

        <tr>

            <th class="hidden">ИД</th>

            <th>Имя</th>

            <th colspan="2">Действия</th>

        </tr>

        </thead>


        <tbody id="tBody">
        {% for i in range(dealers_info['data']['dealer_id']|length) %}

        <tr ondblclick="getType(this)">

            <td class="hidden">{{dealers_info['data']['dealer_id'][i]}}</td>

            <td>{{dealers_info['data']['name'][i]}}</td>

            <td>
                <button onclick="deleteType(this)">Удалить</button>
            </td>

        </tr>

        {% endfor %}
        </tbody>

    </table>
</div>

<script src="/static/js/products/dealer/all.js"></script>

{% endblock %}


