{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/sp_order/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <a class="back-button" href="{{url_for('employees.account')}}">Назад</a>
    <button id="addClick">Добавить</button>
</div>
<h2 class="header-all">Заказы на запчасти</h2>
<div class="table">
    <table>
        <thead>

        <tr>

            <th>ИД</th>

            <th>Валюта</th>

            <th>Поставщик</th>

            <th>Статус заказа</th>

            <th>ID данных доставки</th>

            <th>Ответственный сотрудник</th>

            <th>Действие</th>

        </tr>

        </thead>

        <tbody id="tBody">

        {% for i in range(sp_orders['data']['sp_order_id']|length) %}
        <tr ondblclick="getType(this)">

            <td>{{i+1}}</td>

            <td>{{sp_orders['data']['sp_order_id'][i]}}</td>

            <td>{{currencies_ids['data'][sp_orders['data']['curr_id'][i]]}}</td>

            <td>{{suppliers_ids['data'][sp_orders['data']['supplier_id'][i]]}}</td>

            <td>{{order_statuses_ids['data'][sp_orders['data']['order_status_id'][i]]}}</td>

            <td>{{sp_orders['data']['shipment_id'][i]}}</td>

            <td>{{employees_ids['data'][sp_orders['data']['ord_emp_id'][i]]}}</td>

            <td>
                <button onclick="deleteType(this)">Удалить</button>
            </td>

        </tr>
        {% endfor %}

        </tbody>

    </table>
</div>


<script src="/static/js/sp_order/all.js"></script>

{% endblock %}


