{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/sp_order/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <button id="addClick">Добавить</button>
</div>

<div class="table">
    <table>
        <thead>

        <tr>

            <th class="hidden">ИД</th>

            <th>Валюты</th>

            <th>Поставщик</th>

            <th>Статус заказа</th>

            <th>Идентификатор отгрузки</th>

            <th>Приказать сотруднику</th>

            <th>Действия</th>

        </tr>

        </thead>

        <tbody id="tBody">

        {% for i in range(sp_orders['data']['sp_order_id']|length) %}
        <tr ondblclick="getType(this)">

            <td class="hidden">{{sp_orders['data']['sp_order_id'][i]}}</td>

            <td>{{currencies_ids['data'][sp_orders['data']['curr_id'][i]]}}</td>

            <td>{{suppliers_ids['data'][sp_orders['data']['supplier_id'][i]]}}</td>

            <td>{{order_statuses_ids['data'][sp_orders['data']['order_status_id'][i]]}}</td>

            <td>{{logistics_ids['data'][sp_orders['data']['shipment_id'][i]]}}</td>

            <td>{{employees_ids['data'][sp_orders['data']['ord_emp_id'][i]]}}</td>

            <td>
                <button onclick="deleteType(this)">Удалить</button>
            </td>

        </tr>
        {% endfor %}

        </tbody>

    </table>
</div>


<script src="/static/js/sp_order/all.js"></script>

{% endblock %}


