{% extends 'base.html' %}

{% block head %}
{{super()}}
    <link rel="stylesheet" href="/static/css/sp_order/sp_order.css">
{% endblock %}

{% block body %}
{{super()}}


<div style="width: 100%; text-align: center; margin-top: 1%">
    <h1>Заказы</h1>
</div>
<div class="menu">

    <ul>
        <li><a href="{{url_for('supplier.all')}}">Поставщики запчастей</a></li>
        <li><a href="{{url_for('sp_order_status.all')}}">Состояние заказа</a></li>
        <li><a href="{{url_for('sp_order.all')}}">Заказы на запчасти</a></li>
        <li><a href="{{url_for('sp_order_detail.all')}}">Деталь заказа запчастей</a></li>
        <li><a href="{{url_for('employees.orders_page')}}" class="back-li">Назад</a></li>
    </ul>

</div>


<script src="/static/js/sp_order/sp_order.js"></script>
{% endblock %}
