{% extends 'base.html' %}

{% block head %}
{{super()}}

<!-- <link rel="stylesheet" href="/static/css/employees/department/add.css"> -->
<!-- <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css"> -->



{% endblock %}

{% block body %}
{{super()}}
{{currencies_ids}}
{{units_ids}}
{{carriers_ids}}

<div class="container">
    <div class="header">
        <h2>Новая должность</h2>
    </div>
    <form id="myForm" class="form" action="{{url_for('tracking_status.add')}}" method="POST">

        <div class="form-control">
            <label for="status">status</label>
            <input type="text" name="status" id="status" placeholder="Введите описание..."/>
        </div>

        <div class="form-control">
            <label for="carrier_id">carrier_id</label>
            <input type="text" name="carrier_id" id="carrier_id" placeholder="Введите описание..."/>
        </div>

        <input type="submit" class="add-type-submit" value="Сохранить"/>
        <input onclick="otmenFunction()" type="button" class="add-type-submit" value="Отмена"/>

    </form>
</div>



<!-- <script src="/static/js/employees/department/add.js"></script> -->

{% endblock %}


