{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/tracking_status/get.css">

{% endblock %}

{% block body %}
{{super()}}


<div class="container">

    <div class="header">
        <h2>Информация о статусе отслеживания</h2>
    </div>

    <div id="myForm" class="form">

        <input type="hidden" id="status_id" value="{{tracking_status_info['data']['status_id']}}">

        <div class="form-control">
            <label for="status">Название</label>
            <input type="text" id="status" readonly
                   value="{{tracking_status_info['data']['status']}}"/>
        </div>

        <div class="form-control">
            <label for="carrier_id">Доставщик</label>
            <input type="text" id="carrier_id" readonly
                   value="{{carrier_name['data']['name']}}"/>
        </div>


        <button onclick="updateTrackStatus()" class="add-type-submit">
            Изменить
        </button>

        <button onclick="deleteTrackStatus()" class="add-type-submit2">
            Удалить
        </button>

        <button onclick="otmenFunction()" class="add-type-submit3">
            Назад
        </button>

    </div>
</div>


<script src="/static/js/tracking_status/get.js"></script>

{% endblock %}


