{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/sp_status/get.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="container">
    <div class="header">
        <h2>Названия информация о статусе sp</h2>
    </div>

    <div id="myForm" class="form">

        <input type="hidden" id="status_id" value="{{sp_status_info['data']['status_id']}}">

        <div class="form-control">
            <label for="status">Статус</label>
            <input type="text" id="status" readonly
                   value="{{sp_status_info['data']['status']}}"/>
        </div>

        <div class="form-control">
            <label for="desc">Описание</label>
            <input type="text" id="desc" readonly
                   value="{{sp_status_info['data']['description']}}"/>
        </div>

        <button onclick="updateSpStatus()" class="add-type-submit">
            Изменить
        </button>

        <button onclick="deleteSpStatus()" class="add-type-submit2">
            Удалить
        </button>

        <button onclick="otmenFunction()" class="add-type-submit3">
            Назад
        </button>

    </div>
</div>



<script src="/static/js/sp_status/get.js"></script>

{% endblock %}


