{% extends 'base.html' %}

{% block head %}
<title>Изменить данные типа состоянии запчасти</title>
{{super()}}

<link rel="stylesheet" href="/static/css/sp_status/sp_status_base.css">
<link rel="stylesheet" href="/static/css/sp_status/update.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="container-crud">
    <div class="container">
        <div class="header">
            <h3>Изменить данные типа состоянии запчасти</h3>
        </div>
        <form class="form"
              action="{{ url_for('sp_status.update', status_id=sp_status_info['data']['status_id']) }}"
              method="POST">

            <div class="form-control">
                <label for="desc">Описание</label>
                <input type="text" name="desc" id="desc"
                       value="{{sp_status_info['data']['description']}}"/>
            </div>

            <input type="submit" class="add-type-submit" value="Сохранить"/>
            <button type="button" onclick="otmenFunction()"
                    class="add-type-submit" value="Отмена">
                Отмена
            </button>

        </form>

    </div>
</div>

<script src="/static/js/sp_status/update.js"></script>

{% endblock %}


