:root {
    --button-hover-bacColor: #1b232e;
    --button-backColor: #2d3e51;
    --transition-hover-button: all .3s;
    --font-size: .9rem;
}

.background-color {
    background-color: #bfc9d9;;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.our-products {
    width: 100%;
    margin-top: 1rem;
}

.our-products h1 {
    text-align: center;
    color: #3F48CC;
}

.our-products span {
    color: #FF7F27;
}

.fixed {
    width: 100%;
    height: 50px;
    background-color: var(--button-hover-bacColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: .1s ease-in-out;
}

.fixed a {
    padding: 0;
}

.glavni-stranisa, .viyti, .sign-in, .add-product, .get-my-products {
    width: 120px;
    height: 43px;
    margin:3px 3px;
    background-color: var(--button-hover-bacColor);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    font-size: .9rem;
    display: block;
}

.glavni-stranisa:hover, .viyti:hover, .sign-in:hover, .add-product:hover, .get-my-products:hover {
    border: 1px solid #c7c7c7;
}

.sign-in {
    float: right;
}

.logout {
    float: right;
}

.viyti {
    float: right;
}

.star {
    color: red;
    font-size: 16px
}

a{
    text-decoration: none;
}

.add-button a, button {
    margin: .3rem;
}

.back-button, .add-button button {
    width: 170px;
    height: 40px;
    background-color: var(--button-backColor);
    text-decoration: none;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bolder;
    font-size: var(--font-size);
    transition: all 0.3s ease-out;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-all {
    text-align: center;
    margin-top: 0.5rem;
}

.back-li {
    color: #bbb6b6;
    font-weight: bold;
    background-color: var(--button-backColor);
}

.form-control input:focus, select:focus, textarea:focus {
    outline: 0;
    border-color: #777!important;
}

.add-submit:hover, .add-submit2:hover, .add-submit3:hover,
.link-all:hover, .back-button:hover, .add-button button:hover,
.add-type-submit:hover, .add-type-submit2:hover, .add-type-submit3:hover, .add-type-submit4:hover  {
    background-color: var(--button-hover-bacColor) !important;
    transition: all .3s;
}

.add-submit, .add-submit2, .add-submit3,
.add-type-submit, .add-type-submit1, .add-type-submit2,
.add-type-submit3, .add-type-submit4 {
    height: 45px!important;
}

.get-my-products {
    width: 43%;
    padding: 0 2%;
    float: right;
}

.add-product {
    width: 160px;
}

.for-media-logout {
    display: none!important;
}

@media only screen and (max-width: 500px) {

    .glavni-stranisa, .viyti, .sign-in, .add-product, .get-my-products {
        font-size: .8rem;
        width: auto;
    }

    .main-page .all-products {
        margin: 2rem 3rem!important;
    }

    .account-products {
        right: 0.02rem!important;
    }

    .add-product {
        margin-right: 5px;
        padding: 0 0.4rem;
    }

    .account-products ul {
        width: 160px;
    }
}

@media only screen and (max-width: 640px){
    .sign-in {
        font-size: var(--font-size);
        width: 88px;
    }
    .glavni-stranisa, .viyti{
        width: 88px;
        font-size: .8rem;
        border: 1px solid white;
    }

    .logout {
        display: none;
    }

    .for-media-logout {
        display: block!important;
    }

    .fixed {
        width: 100%;
    }

    .glavni-stranisa, .viyti, .sign-in, .add-product, .get-my-products {
        border: 1px solid #c7c7c7;
    }

    .account-products {
        right: 0.02rem!important;
    }
}



.hidden {
    display: none;
}

textarea {
    resize: none;
}

.add-button {
    width: 100%;
    /*padding: 0.5rem 1rem;*/
    text-align: center;
    margin-top: 0;
    position: sticky;
    top: 0;
    z-index: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.add-button div {
    margin: 5px;
}

.add-button.sticky {
    width: 75%;
    margin: 0 auto;
    color: white;
    padding: 0 0;
    display: flex;
    justify-content: space-evenly;
}

.add-button.sticky #addClick {
    background: transparent;
    border: 1px solid white;
}

.add-button.sticky .back-button {
    background: transparent;
    border: 1px solid white;
}

.header-all.sticky {
    position: sticky;
    top: 0.3rem;
    z-index: 1100;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    color: white;
    width: 22rem;
    text-align: center;
    margin: 0px auto;
}


/****** Base.css da table stylel lari ******/
.table {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

.table table{
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
}

thead {
    transition: .3s ease-in;
    position: sticky;
    top: 3.09rem;
    z-index: 1100;
}

thead.sticky {
    height: 50px;
}

.table td, .table th {
    padding: 12px 5px;
    border: 1px solid #ddddb8;
    text-align: center;
    cursor: pointer;
}

.table th {
    font-size: 1rem;
}

tbody td {
    font-size: var(--font-size);
}

.table th {
    background-color: #2d3e51;
    color: #ffffff;
}

.table tbody tr:nth-child(even) {
    background-color: #d2d2d2;
}

tbody td button {
    width: 80px;
    height: 30px;
    background-color: #6e2025;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    transition: all 0.2s ease-out;
}

tbody td button:hover {
    background-color: #2d3e51;
    box-shadow: 0px 0px 4px 2px #4e4e4e;
    border: 1px solid #c7c7c7 ;
}

/****** Base.css da table stylel lari ******/
