* {
    box-sizing: border-box;
}

.container-link {
    text-align: center;
    width: 80%;
    margin: 3% auto;
}

.link-all{
    background-color: #374a62;
    padding: 15px;
    color: white;
    text-decoration: none;
    width: 30%;
    display: inline-block;
    margin: 10px;
    border-radius: 5px;
}

span {
    margin: 0px;
    display: table;
}
