body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar_all {
    width: 58%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    overflow: hidden;
    background-color: #1b232e;
    display: inline-block;
    margin: 1%;
    width: 15%;
    border-radius: 4px;
    cursor: pointer;
}

.navbar .a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown .dropbtn {
    width: 100%;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}

.navbar .a:hover, .dropdown:hover .dropbtn {
    background-color: #1b232e;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 9%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content .a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content .a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.delivery-all {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .12);
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: -1;
    right: -124%;
    top: 0;
}

.orders-all {
    display: none;
    position: absolute;
    right: -126%;
    top: 50%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, .12);
    z-index: 1;
    background-color: white;
}

.dropdown-content .delivery1-link, .delivery2-link, ul li a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content .delivery1-link:hover, .delivery2-link:hover {
    background-color: #ddd;
}

ul li a:hover {
    background-color: #ddd;
}

.ss1:hover .delivery-all {
    display: block;
}

.ss2:hover .orders-all {
    display: block;
}

ul li {
    list-style-type: none;
}



/*.dropdown-content .delivery1-link:hover .delivery-all {*/
/*    display: block;*/
/*}*/

@media only screen and (min-width: 1025px) and (max-width: 1516px) and (max-height: 819px) {
    .navbar_all {
        width: 85%;
    }

    .dropdown-content {
        min-width: 13%;
    }
}