{% extends 'base.html' %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/css/employees/account.css">
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div style="width: 100%; text-align: center; margin-top: 1%;">
    <h1>Разделы</h1>
</div>

<div class="menu">

    <ul>
        <li><a href="{{url_for('employees.employees_page')}}">Сотрудники</a></li>
        <li><a href="{{url_for('clients.clients_page')}}">Клиенты</a></li>
        <li><a href="{{url_for('products.products_page')}}">Продукты</a></li>
        <li><a href="{{url_for('employees.orders_page')}}">Заказы</a></li>
        <li><a href="{{url_for('sp_warehouse.sp')}}">Запчасти</a></li>
        <li><a href="{{url_for('employees.constants_page')}}">Константы</a></li>
    </ul>

</div>







<script src="/static/js/employees/account.js"></script>

{% endblock %}