{% extends 'base.html' %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/css/employees/account.css">
<link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="navbar_all">
    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Сотрудники
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="a" href="{{url_for('employees.department.all')}}">Отделы</a>
                <a class="a" href="{{url_for('employees.employee_status.all')}}">Статусы сотрудников</a>
                <a class="a" href="{{url_for('employees.employee_type.all')}}">Должности сотрудников</a>
                <a class="a" href="{{url_for('employees.all')}}">Сотрудники компании</a>
            </div>
        </div>
    </div>

    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Клиенты
                <i class="fa fa-caret-down"></i>
            </button>

            <div class="dropdown-content">
                <a class="a" href="{{url_for('clients.all')}}">Клиенты</a>
                <a class="a" href="{{url_for('clients.subscription.all')}}">Подписка</a>
            </div>
        </div>
    </div>

    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Продукты
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="a" href="{{url_for('products.category.all')}}">Категории продуктов</a>
                <a class="a" href="{{url_for('products.dealer.all')}}">Дилеры</a>
                <a class="a" href="{{url_for('products.firmware.all')}}">Прошивки устройств</a>
                <a class="a" href="{{url_for('products.product_info.all')}}">Общая информация о продуктов</a>
                <a class="a" href="{{url_for('products.status.all')}}">Статусы продуктов</a>
                <a class="a" href="{{url_for('products.all')}}">Продукты</a>
            </div>
        </div>
    </div>

    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Заказы
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                    <div class="ss1">
                    <a class="delivery1-link">Доставки
                        <i style="padding-left: 4%" class="fa fa-caret-right"></i>
                    </a>
                    <ul class="delivery-all">
                        <li><a href="{{url_for('carrier.all')}}">Доставщики запчастей</a></li>
                        <li><a href="{{url_for('shipping_type.all')}}">Виды доставки</a></li>
                        <li><a href="{{url_for('tracking_status.all')}}">Статусы отслеживания</a></li>
                        <li><a href="{{url_for('sp_logistic.all')}}">Информация о доставке</a></li>
                    </ul>
                    </div>


                    <div class="ss2">
                    <a class="delivery2-link">Заказы
                        <i style="padding-left: 4%" class="fa fa-caret-right"></i>
                    </a>
                        <ul class="orders-all">
                            <li><a href="{{url_for('supplier.all')}}">Поставщики запчастей</a></li>
                            <li><a href="{{url_for('sp_order_status.all')}}">Состояние заказа</a></li>
                            <li><a href="{{url_for('sp_order.all')}}">Заказы на запчасти</a></li>
                            <li><a href="{{url_for('sp_order_detail.all')}}">Деталь заказа запчастей</a></li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>

    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Запчасти
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="a" href="{{url_for('sp_type.all')}}">Информация о запчастей</a>
                <a class="a" href="{{url_for('sp_status.all')}}">Состояние запчастей</a>
                <a class="a" href="{{url_for('sp_warehouse.all')}}">Склад запчастей</a>
            </div>
        </div>
    </div>

    <div class="navbar">
        <div class="dropdown">
            <button class="dropbtn">Константы
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="a" href="{{url_for('unit.all')}}">Единицы измерения</a>
                <a class="a" href="{{url_for('currency.all')}}">Валюты</a>
            </div>
        </div>
    </div>
</div>


<script src="/static/js/employees/account.js"></script>

{% endblock %}