{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/employees/add_type.css">

{% endblock %}

{% block body %}
{{super()}}

<form action="{{url_for('employees.add_type')}}" method="POST">
	<label for="type_name">Name</label>
        <input type="text" name="type_name" required />
        <label for="desc">Description</label>
        <textarea name="desc"></textarea>
        <input type="submit" value="Add" />
</form>

<script src="/static/js/employees/add_type.js"></script>

{% endblock %}


