{% extends 'base.html' %}

{% block head %}
{{super()}}
    <link rel="stylesheet" href="/static/css/employees/employees.css">
{% endblock %}

{% block body %}
{{super()}}

<div style="width: 100%; text-align: center; margin-top: 1%;">
    <h1>Сотрудники</h1>
</div>

<div class="menu">

    <ul>
        <li><a href="{{url_for('employees.department.all')}}">Отделы</a></li>
        <li><a href="{{url_for('employees.employee_status.all')}}">Статусы сотрудников</a></li>
        <li><a href="{{url_for('employees.employee_type.all')}}">Должности сотрудников</a></li>
        <li><a href="{{url_for('employees.all')}}">Сотрудники компании</a></li>
        <li><a href="{{url_for('employees.account')}}" style="color: #bbb6b6; font-weight: bold">Назад</a></li>
    </ul>

</div>


<script src="/static/js/employees/employees.js"></script>
{% endblock %}