{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/employees/get_all.css">

{% endblock %}

{% block body %}
{{super()}}

<table border=1>
    <tr>
        <th>id</th>
        <th>type</th>
        <th>last_name</th>
        <th>first_name</th>
        <th>middle_name</th>
        <th>birth_date</th>
        <th>status</th>
    </tr>
    {%for i in range(employees['data']['emp_id']|length)%}
    <tr>
        <td>{{employees['data']['emp_id'][i]}}</td>
        <td>{{names_ids_type['data'][employees['data']['emp_type_id'][i]]}}</td>
        <td>{{employees['data']['last_name'][i]}}</td>
        <td>{{employees['data']['first_name'][i]}}</td>
        <td>{{employees['data']['middle_name'][i]}}</td>
        <td>{{employees['data']['birth_date'][i]}}</td>
        <td>{{names_ids_status['data'][employees['data']['emp_status_id'][i]]}}</td>
    </tr>
    {%endfor%}
</table>



<script src="/static/js/employees/get_all.js"></script>
</body>
</html> 

{% endblock %}

