{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="static/css/employees/login.css">

{% endblock %}

{% block body %}
{{super()}}

    <form class="form-signin" method="POST">
        <div class="form-label-group">
            <input type="text" class="form-control" name="username" placeholder="Пользователь" required>
            <label for="username">Пользователь</label>
            {% if not user_exists %}
            <small>Пользователь не найден</small>
            {% endif %}
        </div>
        <div class="form-label-group">
            <input type="password" class="form-control" name="password" placeholder="Пароль" required>
            <label for="password">Пароль</label>
            {% if wrong_password %}
            <small>Неверный пароль</small>
            {% endif %}
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Войти">
    </form>

<script src="static/js/employees/login.js"></script>

{% endblock %}
