{% extends 'base.html' %}

{% block head %}
<title>Зайти в систему</title>
{{super()}}

<link rel="stylesheet" href="/static/css/employees/login.css">

{% endblock %}

{% block body %}
{{super()}}

<div style="position: relative">
<div class="container">

    <div class="header">
        <h2>Зайти в систему</h2>
    </div>


    <form class="form" action="{{url_for('employees.login')}}" method="POST">

        <div class="form-control">
            <label for="username">Логин сотрудника</label>
            <input type="text" name="username" id="username" placeholder="Логин... " required>
            {% if not user_exists %}
            <small>Сотрудник не найден</small>
            {% endif %}
        </div>

        <div class="form-control">
            <label for="password">Пароль</label>
            <input type="password" name="password" id="password" placeholder="Пароль ... " required>
            <div class="register-open"><a id="change_password">Изменить пароль</a></div>
            {% if wrong_password %}
            <small>Неверный пароль</small>
            {% endif %}
        </div>

        <input type="submit" class="add-type-submit" value="Войти">

    </form>

</div>
</div>
<script src="/static/js/employees/login.js"></script>

{% endblock %}
