{% extends 'base.html' %}

{% block head %}
{{super()}}
    <link rel="stylesheet" href="/static/css/employees/orders.css">
{% endblock %}

{% block body %}
{{super()}}

<div style="width: 100%; text-align: center; margin-top: 1%;">
    <h1>Заказы</h1>
</div>

<div class="menu">

    <ul>
        <li><a href="{{url_for('sp_logistic.sp_logistic_page')}}">Доставки</a></li>
        <li><a href="{{url_for('sp_order.sp_order_page')}}">Заказы</a></li>
        <li><a href="{{url_for('employees.account')}}" class="back-li">Назад</a></li>
    </ul>

</div>


<script src="/static/js/employees/orders.js"></script>
{% endblock %}
