.add-container {
    width: 700px;
    height: 500px;
}

.add-form {
    width: 90%;
    height: 89%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: start;
}

.form-control {
    margin: 70px 40px;
}

.form-control label {
    padding-left: 14px;
    margin-bottom: 0;
}

.form-control input, textarea, select {
    width: 255px;
    height: 43px;
    margin: 10px;
}

.add-submit, .add-submit2, .add-submit3 {
    width: 23%;
    position: absolute;
}

.add-submit {
    left:10%;
}

.add-submit2 {
    left:40%;
}

.add-submit3 {
    left:70%;
}
