.add-container {
    width: 400px;
}

.add-header h2 {
    margin: 0;
}

.add-form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    margin-bottom: 0;
}

.form-control input, textarea {
    width: 100%;
}

.add-form .add-submit, .add-submit2 {
    width: 100%;

}

.add-submit:hover, .add-submit2:hover, .add-submit3:hover {
    background-color: #232F3E;
    transition: all .3s;
}

