
/****  modal open ****/
.modal-products {
    width: 100%;
    display: none;
    border: 1px solid #fff;
    transition: all 1s ease-in;
}

.modal {
    position: absolute;
    top: 50px;
    left: 0;
    border-radius: 5px;
    background-color: #f0f3f3;
    width: 100%;
    max-width: 100%;
    box-shadow: 1px 1px 4px 0px rgba(0,0,0,.6);
}
.modal span {
    color: #1b232e;
    font-size: 36px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    top: 5px;
    right: 9px;
    padding-left: 3px;
    border: 1px solid black;

}
.modal span:active{
    border: 1px solid #1b232e;
}
.modal h1 {
    padding: 10px;
    color: #1b232e;
}
.modal p{
    opacity: .7;
    padding: 10px;
    color: #1b232e;
}

.modal button {
    margin:20px 10px;
    background-color: #1b232e;
    border-radius: 5px;
    padding: 10px;
    border: none;
    color: white;
    cursor: pointer;
}
/****  modal close ****/

.hi-person {
    float: right;
}

.hi-person {
    width: 160px;
    height: 46px;
    margin-top: 2px;
    background-color: #1b232e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 16px;
}


.hi-person span {
    font-size: 11px;
}

.hi-person p {
    font-size: 14px;
    font-weight: bold;
}

.hi-person:hover {
    border: 1px solid #c7c7c7;
}

.hi-person:hover .account-products {
    display: block;
}

.account-products {
    position: absolute;
    top:48px;
    right: 122px;
    margin: 0;
    display: none;
}

.account-products ul::before {
    content: "";
    position: absolute;
    top: 0;
    right:50%;
    transform: translate(20%,-90%);
    border-width: 0.5em .5em;
    border-style: solid;
    border-left-color:transparent;
    border-right-color:transparent;
    border-bottom-color:white;
    border-top-color:transparent;
}

.account-products ul {
    list-style: none;
    height: auto;
    width: 170px;
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.2);
    transition: all 1s ease;
    border-top-right-radius: 2px;
}

.account-products ul li {
    width: 100%;
}

.account-products ul li a {
    width: 100%;
    text-decoration: none;
    padding: 7px;
    color: #1b232e;
    font-family: Arial;
    display: block;
}

.account-products ul li a:hover {
    background-color: #e1e5e5;
}

/*section open*/
section{
    max-width: 100%;
    width: 69.3%;
    margin: 2% auto;
    border-left: 1px solid #adaeb19e;
    border-right: 1px solid #adaeb19e;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 25%);
    background-color: white;
    padding: 2% 0%;
}

.your-account {
    margin-left: 28px;
    font-size: 23px;
}

.account-link1 {
    float: left;
    text-decoration: none;
    margin-left: 28px;
    margin-top: 25px;
    border: 1px solid rgba(104, 105, 107, 0.62);
    padding: 20px 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.account-link1:hover {
    background-color: #eceeee;
}

.update-account {
    width: 100%;
    height: 100%;
}

.account_1 {
    width: 100%;
    display: block;
    font-size: 17px;
    color: #111;
    font-weight: 400;
}

.description-account_1 {
    width: 100%;
    display: block;
    color: #565959;
    font-size: 14px;
    padding-top: 5px;
}

/*section close*/


/*media style open*/
@media only screen and (min-width: 320px) and (max-width: 568px){
    section {
        width: 100%;
        transform: translate(-50%, 10%);
    }

    .logout-hi-person {
        width: 72%;
    }

    .hi-person {
        width: 56%;
        margin-right: 4%;
        border:1px solid #c7c7c7 ;
    }

    .account-products {
        position: absolute;
        top: 48px;
        right: 24%;
        margin: 0;
        display: none;
        z-index: 10;
    }

    .hi-person span{
        font-size: 11px;
    }

    .hi-person p {
        font-size: 12px;
    }

    .account-link1 {
        margin-left: 4%;
    }

    .glavni-stranisa, .viyti {
        border: 1px solid #c7c7c7!important;
    }
}

@media only screen and (min-width: 360px) and (max-width:640px){

    section {
        width: 99%;
        transform: translate(-50%, 20%);
    }

    .account-products {
        position: absolute;
        top: 48px;
        right: 93px;
        margin: 0;
        display: none;
        z-index: 10;
    }

    .hi-person {
        margin-right: 7%;
    }

    .account-link1 {
        margin-bottom: 4%;
        margin-left: 8%;

    }
}

@media only screen and (min-width: 375px) and (max-width:667px){
    .hi-person {
        margin-right: 9%;
        border:1px solid #c7c7c7 ;
    }

    .account-products {
        position: absolute;
        top: 48px;
        right: 27%;
        margin: 0;
        display: none;
        z-index: 10;
    }

    .account-link1 {
        margin-left: 10%;
    }
}

@media only screen and (min-width: 411px) and (max-width:823px){

    .hi-person {
        margin-right: 12%;
        border:1px solid #c7c7c7 ;
    }

    .account-products {
        position: absolute;
        top: 48px;
        right: 29%;
        margin: 0;
        display: none;
        z-index: 10;
    }

    .account-link1 {
        margin-left: 14%;
    }
}

@media only screen and (min-width: 540px) and (max-width:720px){
    .hi-person {
        margin-right: 18%;
        border:1px solid #c7c7c7 ;
    }

    .account-link1 {
        margin-left: 23%;
    }
}

@media only screen and (min-width: 569px) and (max-width:767px){
    .logout-hi-person {
        width: 70%;
    }

    .hi-person {
        margin-right: 1%;
    }

    .glavni-stranisa, .viyti {
        border: 1px solid #c7c7c7!important;
    }
}

@media only screen and (min-width: 768px) and (max-width:1024px){

    section {
        width: 100%;
    }

    .your-account {
        margin-left: 53px;
    }

    .logout-hi-person {
        width: 70%;
    }

    .hi-person {
        margin-right: 0;
        border:1px solid transparent;
    }

    .account-products {
        position: absolute;
        top:48px;
        right: 15.7%;
        margin: 0;
        display: none;
    }

    .account-link1 {
        margin-left: 7%;
    }
}

@media only screen and (width: 1024px) and (height:1366px){
    section {
        width: 79%;
    }

    .account-products {
        position: absolute;
        top: 48px;
        right: 11.8%;
        margin: 0;
        display: none;
        z-index: 10;
    }
}
/*media style close*/