.full-container {
    width: 100%;
    height: auto;
}

.container {
    max-width: 1300px;
    width: 1300px;
    margin: 10px auto;
}

section {
    width: 100%;
    margin: 15px auto;
}


.all-products-content {
    width: 100%;
    margin-bottom: 5%;
    display: inline-block;
    position: relative;
}

.all-products {
    max-width: 291px;
    min-height: 120px;
    height: 348px;
    float: left;
    margin: 5% 20px;
}

.ONOF {
    width: 102%;
    height: 50px;
    font-size: 16px;
    text-align: center;
    margin-left: -1%;
    line-height: 50px;
    /*background: #fff;*/
    color: black;
    z-index: -2;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
    border: 3px solid #EAEDED;
}

.all-products .img-div {
    width: 290px;
    height: 345px;
    background-color: #fff;
    padding: 45px 30px;
    float: left;

}

.all-products .img-div a {
    font-size: 13px;
    color: #007185;
    text-decoration: none;
    font-family: "Amazon Ember", Arial, sans-serif;
    cursor: pointer;
}

.all-products .img-div a:hover {
    text-decoration: underline;
    color: #C7511F;
}

.all-products img {
    width: 100%;
    min-height: 120px;
    /*height: 245px;*/
    height: 255px;
    cursor: pointer;
    margin-top: 15px;
    background-color: #eaeded;
    margin-bottom: 10px;
}

.all-products img:hover {
    background-color: #dde0e0;
}

.all-products input {
    width: 141px;
    height: 30px;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    color: #1b232e;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, .2);
    margin: 2px;
    float: left;
}

.input-on-off {
    width: 290px;
    height: 34px;
    background-color: rgba(224, 219, 219, 0.7);
    transition: all .3s ease-in-out;
    display: block;
}

.all-products .on:focus, .off:focus {
    background-color: red;
    color: white;
}

.all-products .description {
    width: 229px;
    height: auto;
    text-align: left;
    font-size: 15px;
    color: #1b232e;
    font-weight: 600;
    /*margin-left: -280px;*/
    margin-top: -34px;
}


/****** Modal open ******/
.header {
    text-align: center;
    color: #374a62;
    padding: 15px 40px;
    font-size: 22px;
}

.header h2 {
    margin: 0;
}

.form {
    padding: 30px 0px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    margin-bottom: 0;
    color: #374a62;
    font-weight: 600;
}

.form-control input, textarea {
    border: 2px solid #506886;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 12px;
    width: 100%;
}

.form-control input:focus, textarea:focus {
    border: 2px solid #374a62;
}

.form .add-type-submit, .add-type-submit2 {
    background-color: #374a62;
    border: 2px solid #374a62;
    border-radius: 4px;
    color: #d5e2ff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin: 20px;
    width: 100%;
    cursor: pointer;
}

.add-type-submit:hover, .add-type-submit2:hover {
    background-color: #232F3E;
    transition: all .3s;
}

.show-modal {
    margin: 40px auto;
    width: 213px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;;
    border-radius: 2px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, .2);
}

.show-modal:hover {
    background-color: #dde0e0;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, .3);
    transition: all .2s ease-in-out;
}

.show-modal .add-img {
    width: 14px;
}

.show-modal p {
    font-size: 14px;
    font-weight: 600;
    color: #5a5555;
    padding: 12px 3px;
}

.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    font-size: 39px;
    color: #374a62;
    cursor: pointer;
    border: none;
    background: none;
    width: 40px;
    height: 40px;
}

.close-modal:focus {
    border: 1px solid #9a9a6f;
    box-shadow: 0px 0px 1px 1px #e4e418;
}

.hidden {
    display: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 33%;
    background-color: white;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

/****** Modal close ******/

/*media style open */

@media only screen and (min-width: 280px) and (max-width: 653px) {
    .container {
        width: 100%;
    }

    section {
        width: 100%;
        display: contents;
    }

    .ONOF {
        width: 102%;
    }

    .all-products {
        width: 100%;
        margin: 24% 0;
    }

    .all-products .img-div {
        width: 100%;
        margin: 0 auto;
    }

    .all-products .img-div .description, a {
        font-size: 13px;
    }


    .modal {
        width: 98%;
        padding: 1rem;
        border-radius: 2px;
        margin: 0;
    }

    .form-control input, textarea {
        border: 2px solid #c3c3c3;
        border-radius: 4px;
        display: block;
        font-family: inherit;
        font-size: 14px;
        padding: 10px;
        width: 100%;
    }

    .all-products-content {
        width: 100%;
        display: contents;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
    .container {
        width: 100%;
    }

    section {
        width: 100%;
        display: contents;
    }

    .all-products {
        width: 100%;
        margin: 20% 0;
    }

    .all-products .img-div {
        margin: 0 auto;
    }

    .all-products .img-div .description, a {
        font-size: 13px;
    }


    .modal {
        width: 98%;
        padding: 1rem;
        border-radius: 2px;
        margin: 0;
    }

    .form-control input, textarea {
        border: 2px solid #c3c3c3;
        border-radius: 4px;
        display: block;
        font-family: inherit;
        font-size: 14px;
        padding: 10px;
        width: 100%;
    }

    .all-products-content {
        width: 293px;
        display: grid;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 360px) and (max-width: 768px) {
    .full-container {
        display: contents;
    }

    .container {
        width: 100%;
    }

    section {
        width: 100%;
        display: inline-block;
    }

    .all-products {
        width: 100%;
        margin: 20% 0;
    }

    .all-products .img-div {
        margin: 0 auto;
    }

    .all-products .img-div .description, a {
        font-size: 13px;
    }


    .modal {
        width: 98%;
        padding: 1rem;
        border-radius: 2px;
        margin: 0;
    }

    .form-control input, textarea {
        border: 2px solid #c3c3c3;
        border-radius: 4px;
        display: block;
        font-family: inherit;
        font-size: 14px;
        padding: 10px;
        width: 100%;
    }

    .all-products-content {
        width: 293px;
        display: grid;
        margin: -10% auto;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
        width: 100%;
        margin: 0;
    }

    .modal {
        width: 90%;
    }

    .form-control {
        padding-bottom: 20px;
        position: relative;
        width: 93%;
        margin: 5px auto;
    }

    section {
        width: 100%;
        display: inline-block;
    }

    .all-products-content {
        width: 100%;
        display: inline-block;
        margin: 0;
    }

    .all-products {
        width: 30.7%;
        margin: 0 10px;
    }

    .all-products .img-div {
        width: 100%;
        height: 280px;
        padding: 45px 22px;

    }

    .all-products .img-div img {
        height: 193px;
    }

    .input-on-off {
        display: inline-block;
        width: 100%;
    }

    .input-on-off input {
        width: 99%;
    }


}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    .container {
        width: 100%;
        margin: 0;
    }

    section {
        margin: 0;
    }

    .all-products-content {
        margin-top: 0;
        margin-bottom: 12%;
    }

    .all-products {
        width: 30.7%;
    }

    .all-products .img-div {
        width: 100%;
        height: 335px;
        padding: 45px 22px;
    }

    .all-products .img-div img {
        height: 250px;
    }

    .modal {
        top: 0;
        transform: translate(-50%, 50%);
    }
}

/*media style close */