.information {
    width: 80%;
    margin: 0 auto;
    border: none;
    border-left: 1px dashed #101324;
    border-right: 1px dashed #101324;
}

.img-information {
    margin: 3% auto;
}

.img1 {
    width: 80%;
    margin: 1% auto;
    box-shadow: 0px 5px 5px 1px rgba(0,0,0,.3);
}

.img1 img {
    width: 100%;
}

.img-information p {
    width: 80%;
    margin: 1% auto;
    text-align: justify;
    font-weight: bold;
    font-family: "Arial Narrow";
}

.viyti-get-my-products {
    width: 40%;
}

.get-my-products  {
    width: 150px;
}

@media only screen and (min-width: 280px) and (max-width: 1024px) and (max-height: 819px){
    .information {
        width: 99%;
    }

    .img-information p {
        width: 90%;
    }

    .img1 {
        width: 90%;
    }

    .viyti-get-my-products {
        width: 75%;
    }

    .glavni-stranisa, .viyti {
        font-size: 12px;
        border: 1px solid white;
    }

    .get-my-products {
        width: 140px;
        font-size: 12px;
        border: 1px solid white;
    }
}

