{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/carrier/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <button id="addClick">Добавить</button>
</div>

<div class="table">
    <table>

        <thead>
        <tr>
            <th class="hidden">ИД</th>

            <th>Наименование</th>

            <th>Телефон</th>

            <th>Электронная почта</th>

            <th>Действие</th>

        </tr>
        </thead>

        <tbody id="tbody">
        {%for i in range(carriers['data']['carrier_id']|length)%}
        <tr ondblclick="getType(this)">

            <td class="hidden">{{carriers['data']['carrier_id'][i]}}</td>

            <td>{{carriers['data']['name'][i]}}</td>

            <td>{{carriers['data']['phone'][i]}}</td>

            <td>{{carriers['data']['email'][i]}}</td>

            <td>
                <button onclick="deleteCurr(this)">Удалить</button>
            </td>

        </tr>
        {%endfor%}
        </tbody>

    </table>
</div>

<script src="/static/js/carrier/all.js"></script>

{% endblock %}


