{% extends 'base.html' %}

{% block head %}
<title>Доставщики</title>
{{super()}}

<link rel="stylesheet" href="/static/css/carrier/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <a class="back-button" href="{{url_for('sp_logistic.sp_logistic_page')}}">Назад</a>
    <button id="addClick">Добавить</button>
</div>
<h2 class="header-all">Доставщики</h2>
<div class="table">
    <table>

        <thead>
        <tr>
            <th class="hidden">ИД</th>

            <th>Название</th>

            <th>Телефон</th>

            <th>Электронная почта</th>

            <th>Действие</th>

        </tr>
        </thead>

        <tbody id="tbody">
        {%for i in range(carriers['data']['carrier_id']|length)%}
        <tr ondblclick="getType(this)">

            <td class="hidden">{{carriers['data']['carrier_id'][i]}}</td>

            <td>{{carriers['data']['name'][i]}}</td>

            <td>{{carriers['data']['phone'][i]}}</td>

            <td>{{carriers['data']['email'][i]}}</td>

            <td>
                <button onclick="deleteCurr(this)">Удалить</button>
            </td>

        </tr>
        {%endfor%}
        </tbody>

    </table>
</div>

<script src="/static/js/carrier/all.js"></script>

{% endblock %}


