{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/carrier/get.css">

{% endblock %}

{% block body %}
{{super()}}


<div class="add-container">

    <div class="add-header">
        <h2>Доставщик</h2>
    </div>

    <div class="add-form">

        <input type="hidden" id="carrier_id" value="{{carrier_info['data']['carrier_id']}}">

        <div class="form-control">

            <label for="name">Наименование</label>
            <input type="text" id="name"
                   value="{{carrier_info['data']['name']}}" readonly/>

            <label for="address_1">Адрес 1</label>
            <input type="text" id="address_1"
                   value="{{carrier_info['data']['address_1']}}" readonly/>

            <label for="address_2">Адрес 2</label>
            <input type="text" id="address_2"
                   value="{{carrier_info['data']['address_2']}}" readonly/>

        </div>

        <div class="form-control">

            <label for="city">Город</label>
            <input type="text" id="city"
                   value="{{carrier_info['data']['city']}}" readonly/>

            <label for="country">Страна</label>
            <input type="text" id="country"
                   value="{{carrier_info['data']['country']}}" readonly/>

            <label for="zipcode">Индекс</label>
            <input type="text" id="zipcode"
                   value="{{carrier_info['data']['zipcode']}}" readonly/>

        </div>

        <div class="form-control">

            <label for="phone">Телефон</label>
            <input type="text" id="phone"
                   value="{{carrier_info['data']['phone']}}" readonly/>

            <label for="email">Электронная почта</label>
            <input type="text" id="email"
                   value="{{carrier_info['data']['email']}}" readonly/>

            <label for="website">Сайт</label>
            <input type="text" id="website"
                   value="{{carrier_info['data']['website']}}" readonly/>

        </div>

        <button type="button" onclick="updateCarr()" class="add-submit">
            Изменить
        </button>

        <button onclick="deleteCarr()" class="add-submit2">
            Удалить
        </button>

        <button onclick="otmenFunction()" class="add-submit3">
            Назад
        </button>
    </div>

</div>


<script src="/static/js/carrier/get.js"></script>

{% endblock %}


