.container {
    position: absolute;
    z-index: 999;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    width: 400px;
    max-width: 100%;
}

.header {
    border-bottom: 1px solid #232F3E;
    background-color:#374a62;
    padding: 10px 40px;
    color: white;
}

.header h2 {
    margin: 0;
}

.form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input, textarea, select {
    border: 2px solid #c3c3c3;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form .add-type-submit, .add-type-submit2, .add-type-submit3 {
    background-color: #374a62;
    border: 2px solid #374a62;
    border-radius: 4px;
    color: #d5e2ff;
    display: block;
    font-family: inherit;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
}

.add-type-submit:hover, .add-type-submit2:hover, .add-type-submit3:hover {
    background-color: #232F3E;
    transition: all .3s;
}
