{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/employees/employee_type/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <a class="back-button" href="{{url_for('employees.account')}}">Назад</a>
    <button onclick="addClick()" id="addClick">Добавить</button>
</div>
<h2 class="header-all">Должности сотрудников</h2>
<div class="table">
    <table>
        <thead>

        <tr>

            <th class="hidden">ИД</th>

            <th>Название должности</th>

            <th>Действие</th>

        </tr>
        </thead>

        <tbody id="tBody">

        {% for i in range(types['data']['emp_type_id']|length) %}

        <tr ondblclick="getType(this)">

            <td class="hidden">{{types['data']['emp_type_id'][i]}}</td>

            <td>{{types['data']['emp_type_name'][i]}}</td>

            <td>
                <button onclick="deleteType(this)">Удалить</button>
            </td>

        </tr>

        {% endfor %}

        </tbody>

    </table>
</div>
<script src="/static/js/employees/employee_type/all.js"></script>

{% endblock %}


