{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/employees/employee_type/update_type.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="container">
        <div class="header">
                <h2>Названия должности</h2>
        </div>
<form class="form"
      action="{{ url_for('employees.employee_type.update_type', type_id=type_info['emp_type_id']) }}"
      method="POST">

        <div class="form-control">
        <label for="type_name">Имя</label>
        <input type="text" name="type_name" id="type_name"
               readonly value="{{type_info['emp_type_name']}}"/>
        </div>

        <div class="form-control">
        <label for="desc">Описание</label>
        <textarea name="desc" id="desc">{{type_info['description']}}</textarea>
        </div>

        <input type="submit" class="add-type-submit" value="Сохранить" />
        <button type="button" onclick="otmenFunction()"
                class="add-type-submit" value="Отмена" >
                Отмена
        </button>

</form>

</div>

<script src="/static/js/employees/employee_type/update_type.js"></script>

{% endblock %}


