{% extends 'base.html' %}

{% block head %}
<title>Новый вид запчасти</title>
{{super()}}

<link rel="stylesheet" href="/static/css/sp_type/sp_type_base.css">
<link rel="stylesheet" href="/static/css/sp_type/add.css">


{% endblock %}

{% block body %}
{{super()}}

<div class="container-crud">
    <div class="add-container">

        <div class="add-header">
            <h3>Новый вид запчасти</h3>
        </div>

        <form id="myForm" class="add-form">

            <div class="form-control">
                <label for="name">Название</label><span class="star">*</span>
                <input type="text" name="name" id="name" required placeholder="Введите название..."/>

                <label for="brand">Марка</label><span class="star">*</span>
                <input type="text" name="brand" id="brand" required placeholder="Введите марку..."/>

                <label for="model">Модель</label><span class="star">*</span>
                <input type="text" name="model" id="model" required placeholder="Введите модель..."/>
            </div>

            <div class="form-control">
                <label for="version">Версия</label><span class="star">*</span>
                <input type="text" name="version" id="version" required placeholder="Введите версию..."/>

                <label for="desc">Описание</label>
                <input type="text" name="desc" id="desc" placeholder="Введите описание..."/>
            </div>

            <input type="submit" class="add-submit" value="Сохранить"/>

            <input onclick="otmenFunction()" type="button" class="add-submit2" value="Отмена"/>

        </form>
    </div>
</div>


<script src="/static/js/sp_type/add.js"></script>

{% endblock %}


