{% extends 'base.html' %}

{% block head %}
{{super()}}

 <link rel="stylesheet" href="/static/css/sp_type/add.css">


{% endblock %}

{% block body %}
{{super()}}

<div class="add-container">

    <div class="add-header">
        <h2>Новая запчасть</h2>
    </div>

    <form id="myForm" class="add-form">

        <div class="form-control">
            <label for="name">Название</label>
            <input type="text" name="name" id="name" placeholder="Введите название..."/>

            <label for="brand">Марка</label>
            <input type="text" name="brand" id="brand" placeholder="Введите марка..."/>

            <label for="model">Модель</label>
            <input type="text" name="model" id="model" placeholder="Введите модель..."/>
        </div>

        <div class="form-control">
            <label for="version">Версия</label>
            <input type="text" name="version" id="version" placeholder="Введите версия..."/>

            <label for="desc">Описание</label>
            <input type="text" name="desc" id="desc" placeholder="Введите описание..."/>
        </div>

        <input type="submit" class="add-submit" value="Сохранить"/>

        <input onclick="otmenFunction()" type="button" class="add-submit2" value="Отмена"/>

    </form>
</div>



 <script src="/static/js/sp_type/add.js"></script>

{% endblock %}


