{% extends 'base.html' %}

{% block head %}
<title>Виды запчастей</title>
{{super()}}

<link rel="stylesheet" href="/static/css/sp_type/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <a class="back-button" href="{{url_for('sp_warehouse.sp')}}">Назад</a>
    <button id="addClick">Добавить</button>
</div>
<h2 class="header-all">Виды запчастей</h2>
<div class="table">
    <table>
        <thead>

        <tr>

            <th class="hidden">ИД</th>

            <th>Название</th>

            <th>Марка</th>

            <th>Модель</th>

            <th>Версия</th>

            <th>Действие</th>

        </tr>

        </thead>


        <tbody id="tBody">

        {% for i in range(sp_types['data']['sp_type_id']|length) %}
        <tr ondblclick="getType(this)">

            <td class="hidden">{{sp_types['data']['sp_type_id'][i]}}</td>

            <td>{{sp_types['data']['name'][i]}}</td>

            <td>{{sp_types['data']['brand'][i]}}</td>

            <td>{{sp_types['data']['model'][i]}}</td>

            <td>{{sp_types['data']['version'][i]}}</td>

            <td>
                <button onclick="deleteType(this)">Удалить</button>
            </td>

        </tr>
        {% endfor %}

        </tbody>

    </table>
</div>


<script src="/static/js/sp_type/all.js"></script>

{% endblock %}


