{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/sp_type/get.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-container">

    <div class="add-header">
        <h2>Запчасть</h2>
    </div>

    <div id="myForm" class="add-form">

        <input type="hidden" id="sp_type_id" value="{{sp_type_info['data']['sp_type_id']}}">

        <div class="form-control">
            <label for="name">Наименование</label>
            <input type="text" id="name" readonly
                   value="{{sp_type_info['data']['name']}}"/>

            <label for="brand">Марка</label>
            <input type="text" id="brand" readonly
                   value="{{sp_type_info['data']['brand']}}"/>

            <label for="model">Модель</label>
            <input type="text" id="model" readonly
                   value="{{sp_type_info['data']['model']}}"/>
        </div>

        <div class="form-control">
            <label for="version">Версия</label>
            <input type="text" id="version" readonly
                   value="{{sp_type_info['data']['version']}}"/>

            <label for="desc">Описание</label>
            <input type="text" id="desc" readonly
                   value="{{sp_type_info['data']['description']}}"/>
        </div>

        <button onclick="updateSpType()" class="add-submit">
            Изменить
        </button>

        <button onclick="deleteSpType()" class="add-submit2">
            Удалить
        </button>

        <button onclick="otmenFunction()" class="add-submit3">
            Назад
        </button>

    </div>

</div>

<script src="/static/js/sp_type/get.js"></script>

{% endblock %}


