{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/products/product_info/add.css">


{% endblock %}

{% block body %}
{{super()}}

<div class="add-container">
    <div class="add-header">
        <h2>Информация о продукте</h2>
    </div>

    <form id="myForm" class="add-form">
        <div class="form-control">

            <label for="name">Наименование</label>
            <input type="text" placeholder="Введите наименование..." id="name" required/>

            <label for="model">Модель</label>
            <input type="text" id="model" placeholder="Введите модель..." required/>

            <label for="cat_id">Категория</label>
            <select id="cat_id" required>
                <option hidden value="" selected disabled>--Выбрать--</option>
                {% for i in range(ids_names['data']['category_id']|length)%}
                <option value="{{ids_names['data']['category_id'][i]}}">{{ids_names['data']['name'][i]}}</option>
                {%endfor%}
            </select>

            <label for="other_photos">Фото</label>
            <input type="file" id="other_photos" onchange="set_other_photos(this)" multiple accept="image/*" style="display: none"/>
            <button type="button" id="addPhoto" >Добавить фото</button>

        </div>


        <div class="form-control">

            <label for="div_main_photo">Главное фото</label>
            <div id="div_main_photo">

            </div>

            <label for="div_other_photos">Другие фотографии</label>
            <div id="div_other_photos">

            </div>

        </div>

        <div class="form-control form-control2">
            <label for="desc">Описания</label>
            <textarea type="text" id="desc" class="desc"></textarea>
        </div>


        <input type="button" class="add-submit" onclick="addForm()" value="Сохранить"/>
        <input type="button" onclick="otmenFunction()" class="add-submit2" value="Отмена"/>
    </form>
</div>


<script src="/static/js/products/product_info/add.js"></script>

{% endblock %}


