<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fido Electronics</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/products/product_info/get_info.css">


    {% endblock %}
</head>
<body class="background-color">
{% block body %}

<div class="fixed">
    <div>
        <a href="{{url_for('core.index')}}">
            <button type="button" class="glavni-stranisa"><span style="color: #FF7F27;">Fido</span><p><span style="color: #6771ff;">Electronics</span></p></button>
        </a>
    </div>

    <a href="{{url_for('clients.logout')}}">
        <button type="button" class="glavni-stranisa viyti">Выйти</button>
    </a>
</div>

<main>
    <div class="main-cases">
        <p style="font-size: 28px; font-weight: bold">{{get_info['data']['name'][0]}}</p>
    </div>

    <section>

        <div style="width: 100%;">
            <ul class="sm-photo-ul">
                {% for i in range(get_info['data']['main_photo']|length)%}
                <li class="sm-photo-li active" id="sm_photo_li">
                    <img src="{{get_info['data']['sm_photo'][i]}}" id="smPhoto" alt="sm_img">
                </li>
                {%endfor%}
            </ul>
        </div>

        <div class="full-org-photo-div">
            {%for i in range(get_info['data']['org_photo']|length)%}
            <div class="org-photo-div active1" id="org_photo_div">
                <div class="org-img">
                    <img src="{{get_info['data']['org_photo'][i]}}" id="orgPhoto" alt="org_img">
                </div>
            </div>
            {%endfor%}
        </div>

        <div class="full-product-name-div">
            <div class="product-name-div">
                <div class="product-name">
                    {% if get_info['data']['name'][0]: %}
                    <h4>Названия продукта: <span>{{get_info['data']['name'][0]}}</span></h4>
                    <h4>Модель: <span>{{get_info['data']['model'][0]}}</span></h4>
                    <h4>Цена:<span> 100 ming so'm</span></h4>
                    <h4>Описание: <span
                            style="padding: 5px; text-align: justify;">{{get_info['data']['description'][0]}}</span></h4>

                    {%endif%}
                </div>
            </div>
        </div>

    </section>

</main>

<div class="information1">

    <div class="img-information1">
        {%for i in range(get_info['data']['org_photo']|length)%}
        <div class="img">
                    <img src="{{get_info['data']['org_photo'][i]}}" alt="org_img">
        </div>
        {%endfor%}
    </div>

</div>

{% endblock %}

<script src="/static/js/base.js"></script>
<script src="/static/js/products/product_info/get_info.js"></script>
</body>
</html>
