<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/products/product_info/get_info.css">


    {% endblock %}
</head>
<body>
{% block body %}


<div class="fixed">
    <button type="button" onclick="glavniyStranisa()" class="glavni-stranisa">Fido<p>Electronics</p></button>
    <button type="button" onclick="Logout()" class="glavni-stranisa viyti">Выйти</button>
</div>

<main>
    <div class="main-cases">
        <p>Основные случаи</p>
    </div>
    <section>


        <ul class="sm-photo-ul">
            {% for i in range(get_info['data']['main_photo']|length)%}
            <li class="sm-photo-li active" id="sm_photo_li" onmouseover="smPhotoLi(this)" onclick="smallImgClick(this)">
                <img src="{{get_info['data']['sm_photo'][i]}}" id="smPhoto" alt="sm_img">
            </li>
            {%endfor%}
        </ul>


        <div class="full-org-photo-div">
            {%for i in range(get_info['data']['org_photo']|length)%}
            <div class="org-photo-div active1" id="org_photo_div">
                <div class="org-img">
                    <img src="{{get_info['data']['org_photo'][i]}}" id="orgPhoto" alt="org_img"
                         onmouseover="largePhotoHoverBlock()" onmouseout="largePhotoHoverNone()">
                </div>
            </div>
            {%endfor%}
        </div>

        <div style="margin-left: 10%; margin-top: 1%; width: 29.5%; text-align: center">
            <p class="small-photo-hover" id="small_text" style="display: block">Rasmni kattalashtirish uchun ustiga
                boring!</p>
            <p class="large-photo-hover" id="large_text" style="display: none">Yanada ko'proq malumot uchun bosing!</p>
        </div>

        <div class="full-product-name-div">
            <div class="product-name-div">
                <div class="product-name">
                    {% if get_info['data']['name'][0]: %}
                    <h4>Product Name: <span>{{get_info['data']['name'][0]}}</span></h4>
                    <h4>Product Model: <span>{{get_info['data']['model'][0]}}</span></h4>
                    <h4>Product Description <br> <span
                            style="padding: 5px;">{{get_info['data']['description'][0]}}</span></h4>
                    {%endif%}
                </div>
            </div>
        </div>

    </section>

</main>

{% endblock %}

<script src="/static/js/base.js"></script>
<script src="/static/js/products/product_info/get_info.js"></script>
</body>
</html>