<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="/static/css/products/product_info/get_info.css">

    {% endblock %}
</head>
<body>
{% block body %}
{{get_info}}


<div class="fixed">
    <button type="button" onclick="glavniyStranisa()" class="glavni-stranisa">Fido<p>Electronics</p></button>
    <button type="button" onclick="Logout()" class="glavni-stranisa viyti">Выйти</button>
</div>


<main>
    <section>
        <ul>
            {% for i in range(get_info['data']['main_photo']|length)%}
            <li class="sm-photo">
                <span>
                    <img src="{{get_info['data']['sm_photo'][i]}}" alt="main page image">
                </span>
            </li>
            {%endfor%}
        </ul>
    </section>


</main>

{% endblock %}


<script src="/static/js/base.js"></script>
<script src="/static/js/products/product_info/get_info.js"></script>
</body>
</html>