.add-container {
    width: 760px;
    height: 470px;
}

.add-form {
    width: 98%;
    height: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.form-control {
    margin-top: 3rem;
    width: 30%;
}

.form-control input, select, textarea {
    width: 100%;
    height: 43px;
    margin: 10px 0;
}

.add-submit, .add-submit2{
    width: 12rem;
    position: absolute;
    bottom: 4px;
}

.add-submit {
    left:16%;
}

.add-submit2 {
    left:56%;
}
