.add-container {
    width: 400px;
}

.add-header h2 {
    margin: 0;
}

.add-form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.add-form .add-submit, .add-submit2 {
    width: 100%;
}
