{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/employees/employee_status/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <a class="back-button" href="{{url_for('employees.account')}}">Назад</a>
    <button id="addClick">Добавить</button>
</div>
<h2 class="header-all">Статусы сотрудников</h2>
<div class="table">
    <table>
        <thead>
        <tr>

            <th class="hidden">Номер статуса</th>

            <th>Название статуса</th>

            <th colspan="2">Действие</th>

        </tr>
        </thead>

        <tbody id="tBody">
        {% for i in range(status_all['data']['status_id']|length) %}

        <tr ondblclick="getType(this)">

            <td class="hidden">{{status_all['data']['status_id'][i]}}</td>

            <td>{{status_all['data']['status'][i]}}</td>

            <td>
                <button onclick="deleteStatus(this)">Удалить</button>
            </td>

        </tr>

        {% endfor %}
        </tbody>

    </table>
</div>

<script src="/static/js/employees/employee_status/all.js"></script>

{% endblock %}


