{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/employees/employee_status/get.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="container">
    <div class="header">
        <h2>Названия должности</h2>
    </div>

    <div class="form">

            <input id="status_id" type="hidden" value="{{status_info.data.status_id}}"/>

        <div class="form-control">
            <label for="type_name">Имя</label>
            <input type="text" name="type_name" id="type_name"
                   value="{{status_info.data.status}}"  readonly/>
        </div>

        <div class="form-control">
            <label for="desc">Описание</label>
              <textarea name="desc" id="desc" readonly>{{status_info.data.description}}</textarea>
        </div>

        <button onclick="updateStatus()" class="add-type-submit">
            Изменить
        </button>

        <button onclick="deleteStatus()" class="add-type-submit2">
            Удалить
        </button>

        <button onclick="otmenFunction()" class="add-type-submit3">
            Назад
        </button>
    </div>

</div>

<script src="/static/js/employees/employee_status/get.js"></script>

{% endblock %}


