.container {
    width: 100%;
}

.header {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 16px 0px;
    color: black;
}

.header h2 {
    margin: 0;
}

.form {
    padding: 10px 40px;
}

.form-control {
    width: 40%;
    margin: 0 auto;
}

.form-control label {
    display: inline-block;
    margin-bottom: 0;
}

.form-control input {
    margin-top: 4px;
    border: 2px solid #c3c3c3;
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: var(--font-size);
    padding: 12px 10px;
    width: 100%;
}

.product-photo-label {
    width: 70%;
    margin: 1% auto;
    text-align: center;
    padding: 5px;
}

.full-product-photo {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.product-photo {
    border: 1px solid #fff;
    height: 300px;
    margin-left: 10px;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .2);
}

.product-photo img{
    width: 100%;
}

.buttons-div-get {
    width: 45%;
    margin: 1% auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.form .add-type-submit, .add-type-submit2, .add-type-submit3 {
    width: 13rem;
    background-color: var(--button-backColor);
    border: 2px solid var(--button-backColor);
    border-radius: 4px;
    color: #d5e2ff;
    display: block;
    font-family: inherit;
    font-size: var(--font-size);
    margin: 1rem 1rem;
    cursor: pointer;
}

@media only screen and (min-width: 1025px) and (max-width: 1516px) and (max-height: 820px){
    .full-product-photo {
        width: 90%;
    }
}
