* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: auto;
}

section {
    min-width: 360px;
    width: 80%;
    margin: 3% auto;
    /*border-left: 1px solid #adaeb19e;*/
    /*border-right: 1px solid #adaeb19e;*/
    position: relative;
}

.main-cases {
    margin: 1% 11%;
}

/*sm img open*/
.sm-photo-ul {
    float: left;
    margin-top: 10px;
}

.sm-photo-ul .sm-photo-li {
    width: 65px;
    height: 85px;
    list-style-type: none;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
    overflow: hidden;
    border: 1px solid #adaeb19e;
    background-color: #eaeded;
}

.sm-photo-ul .sm-photo-li:hover {
    background-color: #dde0e0;
}

.sm-photo-li.active:nth-child(1) {
    border: 1px solid #1b232e;
}

.sm-photo-li.show2 {
    border: 1px solid #1b232e;
}

.sm-photo-ul .sm-photo-li img {
    width: 100%;
    padding: 14% 0%;

}


/*sm img close*/

/*org image open*/
.full-org-photo-div {
    position: relative;
    width: 29.7%;
    height: 502px;
    left: 3%;
    top: 0;
    margin-top: 30px;
    cursor: pointer;
    float: left;
}

.org-photo-div {
    width: 100%;
    height: 500px;
    border: 1px solid #adaeb19e;
    overflow: hidden;
    position: absolute;
    display: none;
    background-color: #eaeded;

}

.org-photo-div:hover {
    background-color: #dde0e0;
}

.org-photo-div:nth-child(1) {
    display: block;
}

.show {
    display: block;
}

.showw {
    /*display: none;*/
}

.org-photo-div .org-img {
    width: 100%;
    height: 100%;
}

.org-photo-div .org-img img {
    width: 100%;
    height: 100%;
}

.none {
    border: 1px solid #adaeb19e;
}


/*org image close*/


/*product name open*/
.full-product-name-div {
    width: 60%;
    height: 400px;
    float: inherit;
    margin-top: 0%;
    margin-left: 49%;
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.product-name-div {
    width: 100%;
}

.product-name h4 {
    width: 100%;
    text-align: left;
    padding: 5px;
    margin-top: 5px;
    vertical-align: inherit;
}

.product-name h4 span {
    font-family: "Amazon Ember", "Arial Narrow", sans-serif;
    font-size: 18px;
    color: black;
    margin-top: 10px;
    font-weight: 100;
}

/*product name close*/

/*media style open*/

@media only screen and (min-width: 280px) and (max-width: 653px) {
    main {
        width: 100%;
        display: inline-block;
    }

    section {
        width: 99%;
        display: contents;
    }

    .main-cases {
        width: 100%;
        margin: 10px 0px;
        text-align: center;
    }

    .show {
        display: block;
    }

    .sm-photo-ul {
        width: 100%;
        display: block;
        float: left;
    }

    .sm-photo-li img {
        width: 10%;
    }

    .sm-photo-ul .sm-photo-li {
        width: 22%;
        height: 72px;
        margin-left: 6px;
        float: left;
    }

    .fixed {
        width: 100%;
    }

    .full-org-photo-div {
        width: 99%;
        margin: 15px 2px;
        left: 0;
        height: 372px;
    }

    .org-photo-div {
        position: absolute;
        width: 100%;
        height: 370px;
    }

    .org-photo-div img {
        width: 100%;
    }

    .for-img-text {
        width: 100%;
        margin: 4% 0px;
    }

    .full-product-name-div {
        width: 100%;
        float: left;
        margin-top: 10%;
        display: inline-block;
        margin-left: 0;
    }

    .product-name {
        width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 568px) {
    main {
        width: 100%;
        display: inline-block;
    }

    section {
        width: 99%;
        display: contents;
    }

    .main-cases {
        width: 100%;
        margin: 10px 0px;
        text-align: center;
    }

    .show {
        display: block;
    }

    .sm-photo-ul {
        width: 98%;
        display: block;
        float: left;
    }

    .sm-photo-li img {
        width: 10%;
    }

    .sm-photo-ul .sm-photo-li {
        width: 23%;
        height: 91px;
        margin-left: 6px;
        float: left;
    }

    .fixed {
        width: 100%;
    }

    .full-org-photo-div {
        width: 99%;
        margin: 15px 2px;
        left: 0;
        height: 372px;
    }

    .org-photo-div {
        position: absolute;
        width: 100%;
        height: 370px;
    }

    .org-photo-div img {
        width: 100%;
    }

    .for-img-text {
        width: 100%;
        margin: 4% 0px;
    }

    .full-product-name-div {
        width: 100%;
        float: left;
        margin-top: 10%;
        display: inline-block;
        margin-left: 0;
    }

    .product-name {
        width: 100%;
    }
}

@media only screen and (min-width: 360px) and (max-width: 640px) {

    main {
        display: inline-block;
    }

    section {
        width: 99%;
    }

    .main-cases {
        width: 100%;
        margin: 10px 0px;
        text-align: center;
    }

    .show {
        display: block;
    }

    .sm-photo-ul {
        width: 100%;
        display: block;
        float: left;
    }

    .sm-photo-li img {
        width: 10%;
    }

    .sm-photo-ul .sm-photo-li {
        width: 23%;
        height: 91px;
        margin-left: 6px;
        float: left;
    }

    .fixed {
        width: 100%;
    }

    .full-org-photo-div {
        width: 99%;
        margin: 15px 2px;
        left: 0;
        height: 372px;
    }

    .org-photo-div {
        position: absolute;
        width: 100%;
        height: 370px;
    }

    .org-photo-div img {
        width: 100%;
    }

    .for-img-text {
        width: 100%;
        margin: 4% 0px;
    }

    .full-product-name-div {
        width: 100%;
        float: left;
        margin-top: 10%;
        display: inline-block;
        margin-left: 0;
    }

    .product-name {
        width: 100%;
    }
}

@media only screen and (min-width: 540px) and (max-width: 720px) {
   .sm-photo-ul .sm-photo-li img {
        width: 100%;
        padding: 12%;
    }

    .sm-photo-ul .sm-photo-li {
        width: 23%;
        height: 103px;
    }

    .full-org-photo-div {
        height: 485px;
    }

    .org-photo-div {
        height: 100%;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 800px) {
    .full-org-photo-div {
        width: 42%;
    }

    .full-product-name-div {
        width: 40%;
        margin-left: 65%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {

    .full-org-photo-div {
        width: 65%;
        height: 372px;
    }

    .full-product-name-div {
        width: 100%;
        float: left;
        margin-top: 25%;
        margin-left: 0;
        display: block;
    }

    section {
        margin-bottom: 5%;
        display: table;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1516px) and (min-height: 510px) and (max-height: 819px) {
    .full-org-photo-div {
        width: 35%;
    }

    .full-product-name-div {
        width: 36%;
        margin-left: 60%;
    }
}


/*media style open*/
