*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: auto;
}

section {
    min-width: 360px;
    width: 80%;
    margin: 3% auto;
    /*border-left: 1px solid #adaeb19e;*/
    /*border-right: 1px solid #adaeb19e;*/
    position: relative;
}

.main-cases {
    margin: 1% 10%;
}

/*sm img open*/
.sm-photo-ul {
    float: left;
    margin-top: 10px;
}

.sm-photo-ul .sm-photo-li {
    width: 65px;
    height: 85px;
    list-style-type: none;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
    overflow: hidden;
    border: 1px solid #adaeb19e;
}

.sm-photo-li.active:nth-child(1){
    border: 1px solid #1b232e;
}

.sm-photo-ul .sm-photo-li img {
    width: 100px;
    margin-left: -18px;
    padding: 10px;
}


/*sm img close*/

/*org image open*/
.full-org-photo-div {
    /*position: relative;*/
    width: 452px;
    height: 502px;
    /*left: 10%;*/
    margin-top: 30px;
    cursor: pointer;
    float: left;
    margin-left: 20px;
}

.org-photo-div {
    width: 450px;
    height:500px ;
    border: 1px solid #adaeb19e;
    overflow: hidden;
    /*position: absolute;*/
}

.org-photo-div .org-img {
    width: 100%;
    height: 100%;
}
.org-photo-div .org-img img {
    width: 100%;
    height: 100%;
}

.none {
    border: 1px solid #adaeb19e;
}

.org-photo-div.active1{
    display: none;
}

.org-photo-div:nth-child(1){
    display: block;
}

/*org image close*/


/*product name open*/
.full-product-name-div {
    /*position: relative;*/
    width: 500px;
    height: 400px;
    float: right;
    margin-top: -34%;
    margin-right: 20%;
}

.product-name h4 {
    width: 100%;
    text-align: left;
    padding: 5px;
    margin-top: 5px;
    vertical-align: inherit;
}

.product-name h4 span {
    font-family:"Amazon Ember", "Arial Narrow", sans-serif;
    font-size: 18px;
    color: black;
    margin-top: 10px;
    font-weight: 100;
}
/*product name close*/

@media screen and (max-width: 640px) {
    main {
        /*border: 1px solid red;*/
    }
    section {
        width: 100%;
    }

    .main-cases {
        width: 100%;
        margin: 10px 0px;
        text-align: center;
    }

    .sm-photo-ul {
        width: 100%;
        display: flex;
        float: none;
    }

    .sm-photo-li {
        width: 40px;
        height: 40px;
    }

    .sm-photo-li img {
        width: 10%;
    }

    .fixed {
        width: 100%;
    }

    .full-org-photo-div {
        width: 99%;
        margin: 15px 2px;
        left: 0;
        height: 370px;
    }

    .org-photo-div {
        position: unset;
        width: 100%;
        height: 370px;
    }

    .org-photo-div img {
        width: 100%;
    }

    .for-img-text {
        width: 100%;
        margin: 4% 0px;
    }

    .full-product-name-div {
        width: 100%;
        float: left;
        margin-top: 10%;
    }

    .product-name {
        width: 100%;
    }
}

@media screen and (min-width:641px) and (max-width: 1024px){
    .full-product-name-div {
        width: 100%;
        float: left;
        margin-top: 10%;
    }
}
