* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    height: auto;
}

section {
    min-width: 360px;
    width: 80%;
    margin: 3% auto;
    /*border-left: 1px solid #adaeb19e;*/
    /*border-right: 1px solid #adaeb19e;*/
    position: relative;
}

.main-cases {
    margin: 1% 11%;
}

/*sm img open*/
.sm-photo-ul {
    float: left;
    margin-top: 10px;
}

.sm-photo-ul .sm-photo-li {
    width: 65px;
    height: 85px;
    list-style-type: none;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 5px;
    overflow: hidden;
    border: 1px solid #adaeb19e;
    background-color: #eaeded;
}

.sm-photo-ul .sm-photo-li:hover {
    background-color: #dde0e0;
}

.sm-photo-li.active:nth-child(1) {
    border: 1px solid #1b232e;
}

.sm-photo-li.show2 {
    border: 1px solid #1b232e;
}

.sm-photo-ul .sm-photo-li img {
    width: 100px;
    margin-left: -18px;
    padding: 10px;
}


/*sm img close*/

/*org image open*/
.full-org-photo-div {
    position: relative;
    width: 452px;
    height: 502px;
    left: 3%;
    top: 0;
    margin-top: 30px;
    cursor: pointer;
    float: left;
}

.org-photo-div {
    width: 450px;
    height: 500px;
    border: 1px solid #adaeb19e;
    overflow: hidden;
    position: absolute;
    display: none;
    background-color: #eaeded;

}

.org-photo-div:hover {
    background-color: #dde0e0;
}

.org-photo-div:nth-child(1) {
    display: block;
}

.show {
    display: block;
}

.showw {
    /*display: none;*/
}

.org-photo-div .org-img {
    width: 100%;
    height: 100%;
}

.org-photo-div .org-img img {
    width: 100%;
    height: 100%;
}

.none {
    border: 1px solid #adaeb19e;
}


/*org image close*/


/*product name open*/
.full-product-name-div {
    width: 500px;
    height: 400px;
    float: inherit;
    margin-top: 0%;
    margin-left: 49%;
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

.product-name h4 {
    width: 100%;
    text-align: left;
    padding: 5px;
    margin-top: 5px;
    vertical-align: inherit;
}

.product-name h4 span {
    font-family: "Amazon Ember", "Arial Narrow", sans-serif;
    font-size: 18px;
    color: black;
    margin-top: 10px;
    font-weight: 100;
}

/*product name close*/

@media screen and (max-width: 640px) {

    section {
        width: 99%;
    }

    .main-cases {
        width: 100%;
        margin: 10px 0px;
        text-align: center;
    }

    .show {
        display: block;
    }

    .sm-photo-ul {
        width: 100%;
        display: flex;
        float: none;
    }

    .sm-photo-li {
        width: 40px;
        height: 40px;
    }

    .sm-photo-li img {
        width: 10%;
    }

    .sm-photo-ul .sm-photo-li {
        margin-left: 6px;
    }

    .fixed {
        width: 100%;
    }

    .full-org-photo-div {
        width: 99%;
        margin: 15px 2px;
        left: 0;
        height: 370px;
    }

    .org-photo-div {
        position: unset;
        width: 100%;
        height: 370px;
    }

    .org-photo-div img {
        width: 100%;
    }

    .for-img-text {
        width: 100%;
        margin: 4% 0px;
    }

    .full-product-name-div {
        width: 100%;
        float: left;
        margin-top: 10%;
        display: inline-block;
        margin-left: 0;
    }

    .product-name {
        width: 100%;
    }
}

@media screen and (min-width: 641px) and (max-width: 1024px) {
    .full-product-name-div {
        width: 100%;
        float: left;
        margin-top: 10%;
        margin-left: 0;
        display: block;
    }

    section {
        margin-bottom: 5%;
        display: table;
    }
}

@media screen and (min-width: 1024px) {
    .full-product-name-div {
        width: 258px;
        height: 400px;
        float: inherit;
        margin-top: 0%;
        margin-left: 49%;
        display: flex;
        justify-content: end;
        padding-top: 2%;
    }
}
