*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.add-container{
    width: 100%;
    height: auto;
    position: relative;
}

.add-header {
    width: 70%;
    padding: 5px;
    margin: 1% auto;
}

.add-header h2 {
    text-align: center;
}

.add-form {
    width: 95%;
    margin: 10px auto;
}

.add-photo-div {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.add-photo-div button {
    width: 13rem;
    height: 45px;
    padding: .8rem;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid var(--button-backColor);
    outline: none;
    color: white;
    background-color: var(--button-backColor);
    margin: .3rem 1rem;
}
.form-control {
    width: 33%;
    margin: 2rem auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.main-photo-label {
    font-size: var(--font-size);
    padding-left: 0;
}

.org-photo{
    width: 100%;
    margin: 0 auto;
}

.org-photo img {
    width: 100%;
    min-height: 200px;
    height: 300px;
}

.div-other-photo {
    width: 100%;
}

.org-photo, .div-other-photo {
    min-height: 200px;
    height: 300px;
    overflow: hidden;
    border: 1px solid #fff;
    cursor: pointer;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .2);
}

.desc-div label {
    display: block;
    font-size: var(--font-size);
}

.desc-div textarea {
    width: 100%;
    height: 300px;
    padding: 5px;
    font-size: var(--font-size);
    resize: none;
}

.desc-div textarea:focus {
    border: 1px solid var(--button-hover-bacColor);
}

.other-photo-label{
    font-size: var(--font-size);
    margin-top: 2rem;
    text-align: center;
    padding: 8px;
}

.div-other-photos {
    width: 85%;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
}

.full-div-other-photo {
    cursor: pointer;
}

.div-other-photo img {
    width: 100%;
    min-height: 200px;
    height: 300px;
    cursor: pointer;
}

.delete-photo {
    margin-top: 2%;
    width: 100%;
    height: 40px;
    border: 1px solid #888787;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    background-color: var(--button-backColor);
    color: white;

}

.delete-photo:hover {
    background-color: var(--button-hover-bacColor);
    color: white;
}

.button-div {
    margin: 1% auto;
    width: 70%;
    display: flex;
    justify-content: center;
    padding-bottom: 5%;
}

.add-submit3 {
    padding: 5px;
}

.add-photo-div button:hover{
    background-color: var(--button-hover-bacColor);
    transition: all .3s;
}


@media only screen and (min-width: 1025px) and (max-width: 1516px) and (max-height: 820px){
    .main-photo-label {
        padding-left: 28%;
    }

    .desc-div {
        width: 50%;
    }

    .org-photo {
        width: 38%;
    }

    .full-div-other-photo {
        width: 18%;
    }
}
