{% extends 'base.html' %}

{% block head %}
<title>Новый вид доставки</title>
{{super()}}

<link rel="stylesheet" href="/static/css/shipping_type/shipping_type_base.css">
<link rel="stylesheet" href="/static/css/shipping_type/add.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="container-crud">
    <div class="add-container">

        <div class="add-header">
            <h3>Новый вид доставки</h3>
        </div>

        <form id="myForm" class="add-form">

            <div class="form-control">
                <label for="name">Название доставки</label><span class="star">*</span>
                <input type="text" name="name" placeholder="Введите название..." id="name" required/>

                <label for="carrier_id">Доставщик</label><span class="star">*</span>
                <select name="carrier_id" id="carrier_id" required>
                    <option hidden value="" selected disabled>--Выбрать--</option>
                    {% for i in range(carriers_ids['data']['carrier_id']|length)%}
                    <option value="{{carriers_ids['data']['carrier_id'][i]}}">{{carriers_ids['data']['name'][i]}}
                    </option>
                    {%endfor%}
                </select>

                <label for="curr_id">Валюта</label><span class="star">*</span>
                <select name="curr_id" id="curr_id" required>
                    <option hidden value="" selected disabled>--Выбрать--</option>
                    {% for i in range(currencies_ids['data']['curr_id']|length)%}
                    <option value="{{currencies_ids['data']['curr_id'][i]}}">{{currencies_ids['data']['currency'][i]}}
                    </option>
                    {%endfor%}
                </select>

                <label for="unit_id">Единица измерения</label><span class="star">*</span>
                <select name="unit_id" id="unit_id" required>
                    <option hidden value="" selected disabled>--Выбрать--</option>
                    {% for i in range(units_ids['data']['unit_id']|length)%}
                    <option value="{{units_ids['data']['unit_id'][i]}}">{{units_ids['data']['unit'][i]}}</option>
                    {%endfor%}
                </select>
            </div>


            <div class="form-control">
                <label for="price">Цена</label><span class="star">*</span>
                <input type="text" name="price" id="price" required placeholder="Введите цену..."/>

                <label for="min_delivery_days">Минимальный день доставки</label><span class="star">*</span>
                <input type="text" name="min_delivery_days" id="min_delivery_days" required
                       placeholder="Введите мин. день доставки..."/>

                <label for="max_delivery_days">Максимальный день доставки</label><span class="star">*</span>
                <input type="text" name="max_delivery_days" id="max_delivery_days" required
                       placeholder="Введите мах. день доставки..."/>
            </div>


            <input type="submit" class="add-submit" value="Сохранить"/>

            <button onclick="otmenFunction()" type="button" class="add-submit2">
                Отмена
            </button>

        </form>
    </div>
</div>


<script src="/static/js/shipping_type/add.js"></script>

{% endblock %}


