{% extends 'base.html' %}

{% block head %}
<title>Виды доставки</title>
{{super()}}

<link rel="stylesheet" href="/static/css/shipping_type/all.css">

{% endblock %}

{% block body %}
{{super()}}

<div class="add-button">
    <a class="back-button" href="{{url_for('sp_logistic.sp_logistic_page')}}">Назад</a>
    <button id="addClick">Добавить</button>
</div>
<h2 class="header-all">Виды доставки</h2>
<div class="table">
    <table>
        <thead>

        <tr>

            <th class="hidden">ИД</th>

            <th>Название</th>

            <th>Валюта</th>

            <th>Единица измерения</th>

            <th>Доставщик</th>

            <th>Действие</th>

        </tr>

        </thead>


        <tbody id="tBody">

        {% for i in range(shipping_types['data']['shipping_type_id']|length) %}
        <tr ondblclick="getType(this)">

            <td class="hidden">{{shipping_types['data']['shipping_type_id'][i]}}</td>

            <td>{{shipping_types['data']['name'][i]}}</td>

            <td>{{currencies_ids['data'][shipping_types['data']['curr_id'][i]]}}</td>

            <td>{{units_ids['data'][shipping_types['data']['unit_id'][i]]}}</td>

            <td>{{carriers_ids['data'][shipping_types['data']['carrier_id'][i]]}}</td>

            <td>
                <button onclick="deleteType(this)">Удалить</button>
            </td>

        </tr>
        {% endfor %}

        </tbody>

    </table>
</div>


<script src="/static/js/shipping_type/all.js"></script>

{% endblock %}


