{% extends 'base.html' %}

{% block head %}
{{super()}}

<link rel="stylesheet" href="/static/css/shipping_type/all.css">

{% endblock %}

{% block body %}
{{super()}}

<button class="add-button" id="addClick">Добавить</button>

<table class="table">
    <thead>

    <tr>

        <th class="hidden">Номер должности</th>

        <th>№</th>

        <th>Имя</th>

        <th>Валюты</th>

        <th>Единица измерения</th>

        <th>Перевозчики</th>

        <th>Действия</th>

    </tr>

    </thead>


    <tbody id="tBody">

    {% for i in range(shipping_types['data']['shipping_type_id']|length) %}
    <tr ondblclick="getType(this)">

        <td class="hidden">{{shipping_types['data']['shipping_type_id'][i]}}</td>

        <td>{{i+1}}</td>

        <td>{{shipping_types['data']['name'][i]}}</td>

        <td>{{currencies_ids['data'][shipping_types['data']['curr_id'][i]]}}</td>

        <td>{{units_ids['data'][shipping_types['data']['unit_id'][i]]}}</td>

        <td>{{carriers_ids['data'][shipping_types['data']['carrier_id'][i]]}}</td>

        <td>
            <button onclick="deleteType(this)">Удалить</button>
        </td>

    </tr>
    {% endfor %}

    </tbody>

</table>



<script src="/static/js/shipping_type/all.js"></script>

{% endblock %}


