{% extends 'base.html' %}

{% block head %}
<title>Информация о виде доставки</title>
{{super()}}

<link rel="stylesheet" href="/static/css/shipping_type/get.css">

{% endblock %}

{% block body %}
{{super()}}


<div class="add-container">

    <div class="add-header">
        <h2>Информация о виде доставки</h2>
    </div>

    <div id="myForm" class="add-form">

        <input type="hidden" id="shipping_type_id" value="{{shipping_type_info['data']['shipping_type_id']}}">

        <div class="form-control">
            <label for="name">Название</label>
            <input type="text" id="name" readonly
                   value="{{shipping_type_info['data']['name']}}"/>

            <label for="carrier_id">Доставщик</label>
            <input type="text" id="carrier_id" readonly
                   value="{{carrier_name['data']['name']}}"/>

            <label for="curr_id">Валюта</label>
            <input type="text" id="curr_id" readonly
                   value="{{currency_name['data']['currency']}}"/>

            <label for="unit_id">Единица измерения</label>
            <input type="text" id="unit_id" readonly
                   value="{{unit_name['data']['unit']}}"/>
        </div>


        <div class="form-control">
            <label for="price">Цена</label>
            <input type="text" id="price" readonly
                   value="{{shipping_type_info['data']['price']}}"/>

            <label for="min_delivery_days">Минимальный день доставки</label>
            <input type="text" id="min_delivery_days" readonly
                   value="{{shipping_type_info['data']['min_delivery_days']}}"/>

            <label for="max_delivery_days">Максимальный день доставки</label>
            <input type="text" id="max_delivery_days" readonly
                   value="{{shipping_type_info['data']['max_delivery_days']}}"/>
        </div>


        <button onclick="updateShippType()" class="add-submit">
            Изменить
        </button>

        <button onclick="deleteShippType()" class="add-submit2">
            Удалить
        </button>

        <button onclick="otmenFunction()" class="add-submit3">
            Назад
        </button>

    </div>

</div>


<script src="/static/js/shipping_type/get.js"></script>

{% endblock %}


