<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fido Electronics</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/core/index.css">

</head>

<body class="background-color" id="src">

<div class="fixed">
    <div>
        <a href="{{url_for('core.index')}}">
            <button type="button" class="glavni-stranisa"><span style="color: #FF7F27;">Fido</span>
                <p><span style="color: #6771ff;">Electronics</span></p></button>
        </a>
    </div>

    <div class="hi-person-div">
        <button type="button" id="add_product" onclick="addProduct()" class="show-modal add-product">
            Добавить продукт
        </button>

        {%if first_name%}
        <button type="button" class="hi-person" id="hi-person">
            <span>Привет, {{first_name}}</span>
            <p> Аккаунт и Продукты</p>

            <div class="account-products" id="account-products">
                <ul>
                    <li><a href="{{url_for('clients.account')}}">Аккаунт</a></li>
                    <li><a href="{{url_for('clients.my_products.get_my_products')}}">Мои Продукты</a></li>
                    <li><a href="{{url_for('clients.logout')}}" class="for-media-logout">Выйти</a></li>
                </ul>
            </div>
        </button>
        {%endif%}

        {%if first_name %}
        <a href="{{url_for('clients.logout')}}">
            <button type="button" class="glavni-stranisa logout">Выйти</button>
        </a>
        {%else%}
        <a href="{{url_for('clients.login')}}">
            <button class="sign-in" id="sign-in">Войти</button>
        </a>
        {%endif%}
    </div>
</div>

<div class="our-products">
    <h1><span>Наши</span> Продукты</h1>
</div>

<section class="main-page">
    <div class="all-products">
        {% for i in range(get_products['data']['name']|length)%}
        <div class="img-div">
            <div class="description-div">
                <p class="description">{{get_products['data']['name'][i]}}</p>
            </div>

            <a href="{{url_for('products.product_info.product_cat', cat_id=get_products['data']['product_id'][i])}}">
                <div class="index-img">
                    <img src="{{get_products['data']['photo'][i]}}" alt="image"
                         id="{{get_products['data']['product_id'][i]}}" onclick="getInfo(this)">
                </div>
            </a>

            <div class="href-detail">
                <a href="{{url_for('products.product_info.product_cat', cat_id=get_products['data']['product_id'][i])}}">
                    Подробно
                </a>
            </div>
        </div>
        {%endfor%}
    </div>
</section>

<script src="/static/js/core/index.js"></script>
<script src="/static/js/base.js"></script>
</body>

</html>
